[2014-05-29 19:00] pcc opened #13 "No-wrap constraints should apply only if the relevant branch is taken"
@regehr reported this incorrect optimization.

C code:

[code]

Souper IR:

[code]

What I think is going on here is that there is no value for %1 that simultaneously does not overflow the computation for %2 (an overflow requires %1 to be <= 0) and yields a zero value for %6. The program's control flow dictates that %2 is unreachable if %1 <= 0 (i.e. the no-wrap constraint for %2 should not have a

[2014-07-18 14:50] regehr opened #26 "unbounded recursion in extractor"
One of the extractor's termination conditions is hitting a phi that is marked as a loop header. When it encounters an irreducible loop for which LLVM doesn't detect the loop header, it keeps following edges until crashing from stack overflow. Optimized compile of this code will produce such a loop:

[code]

Here's the LLVM:

[code]

[2014-07-23 19:15] regehr opened #29 "Assertion `l->getWidth()==r->getWidth() && "type mismatch"' failed."
Take this file:

[code]

and compile like this:

[code]

Or just run Souper directly on this file:

[code]

[2014-08-12 05:06] regehr opened #33 "illegal sext"
Raimondas noticed this today. From the LLVM code below, Souper extracts this IR:

[code]

But the sext here is illegal: LLVM requires that the extended type is at least one bit bigger than the argument.

[code]

[2014-08-20 19:00] regehr opened #40 "canonicalization opportunties"
Operands of instructions like "and" and "or" seem to be mostly sorted, but they aren't always sorted. Sorting them would give a bit of extra canonicalization of IR, with benefits for caching.

As Raimondas observed, operands of phi nodes are neither sorted nor deduplicated. We see some heavy duplication of phi operands sometimes while building LLVM. Deduplication would give a small readability win

[2014-08-21 05:10] #40 closed, assigned to nobody

[2014-09-10 21:13] #29 closed, assigned to nobody

[2014-09-13 23:58] #33 closed, assigned to nobody

[2014-09-17 03:06] regehr opened #55 "select is wrong when there is undefined behavior"
I'll just paste in a mail that I sent to the llvmdev list. The solution is for Raimondas to adapt his phi+UB patch to do something analogous for select, I think.

In the section about poison values, the LLVM language reference manual says:

  "Values other than phi nodes depend on their operands."

This implies that a select instruction's output can be poisoned by its not-selected argument value.

[2014-09-26 02:15] #13 closed, assigned to nobody

[2014-09-28 15:41] regehr opened #61 "crash bug"
[code]

[2014-09-29 02:30] regehr opened #63 "cache design"
At the moment Souper has two kinds of cache entry:
- Query entries where the key is the LHS+RHS of a valid replacement and the value is empty.
- Profile entries where the key is a concatenation of the string "profile\n", the srcloc with a newline, and the valid replacement. The value is the dynamic count.

These kinds of cache entry can be left alone or one or both could be eliminated and/or combi

[2014-09-30 04:53] regehr opened #65 "make check fails on mac"
The command below, which is executed as part of "make check", fails on my mac. This used to work -- perhaps the latest big xcode upgrade broke something. My unixy tools are installed via homebrew, which is up to date.

[code]

The library in question is where I'd expect it to be, but for whatever reason Souper isn'f finding it.

[code]

[2014-09-30 04:58] regehr opened #66 "compile error on mac"
This problem has existed for a while, just getting around to reporting it now. This file:

[code]

contains this "tr1" stuff, which interferes with compilation on Mac but not Linux:

[code]

In the latest klee, this stuff is protected by a libcpp version check. So perhaps we just want to bump klee version.

[2014-09-30 22:49] #61 closed, assigned to nobody

[2014-10-02 04:55] #66 closed, assigned to nobody

[2014-10-08 02:48] regehr opened #80 "teaching souper about memory"
I'm wondering whether there are some cases where it's easy and profitable to teach Souper about memory. For example, below is a reasonably fast popcount that uses table lookup. It does not seem that difficult to recognize an inbounds GEP followed by a load from a constant array, and then construct a map from address to values satisfying the load.

[code]

[2014-10-08 03:18] regehr opened #81 "missed optimizations due to missing path conditions on switch cases"
Here's an example that Souper misses, that I feel it should be able to get:

[code]

Both LLVM and GCC change this into "return 1" but if we compile it using only SROA we get this:

[code]

So far so good. But here is Souper's version:

[code]

The desired conclusion cannot be reached because the path condition guarding the switch cases haven't been extracted.

[2014-10-11 03:09] regehr opened #84 "Assertion `RHS.VAL != 0 && "Divide by zero?"' failed."
The crash is in LLVM but called from our code (via Klee).

[code]

[2014-10-12 20:56] regehr opened #85 "keep going when the solver stops?"
For some time, souper's default behavior has been to continue optimizing a file if the solver times out, but to abort if the solver exits for any other reason.  I think perhaps this is the wrong way to do things. In a few hours of Csmith tests, Souper in integer synthesis mode successfully optimized almost zero programs because at some point, the solver would use all RAM and be stopped by the OS,

[2014-10-12 21:04] regehr opened #86 "end-to-end test of redis subsystem"
I was going to write an end-to-end test of Souper's use of redis, but I'm not totally sure what to test.  Probably what I'll do is:
- run souper over a large .bc file that comes from building LLVM
- run souper-check on all optimizations that Redis has cached

This is easy but I'm not sure about the test oracle. It's tedious to specify the exact set of optimizations found by Souper, so maybe we can

[2014-10-22 18:58] #63 closed, assigned to nobody

[2014-10-22 18:59] #26 closed, assigned to nobody

[2014-10-22 18:59] #85 closed, assigned to nobody

[2014-10-22 20:07] #65 closed, assigned to nobody

[2014-11-03 17:53] regehr opened #106 "internal cache should index by pointer"
Currently the internal cache is indexed by IR string. The other day Peter suggested it could be sped up by using an Inst \* as the index. This strategy demands that we never delete an Inst *, which I believe is already the case. What else is required to make this work?

This modification is interesting because it's one of the few opportunities we have to speed up the case where the external cache

[2014-11-03 20:22] #84 closed, assigned to nobody

[2014-11-04 21:45] regehr opened #107 "UB not handled correctly on the RHS"
Souper is almost ready to do real instruction synthesis. One obstacle is its failure to share the PrintContext between the LHS and RHS parsing and printing functions. I'll have that fixed soon. The final obstacle relates to the role of UB. On the LHS, it makes optimization easier. On the RHS, it makes optimization more difficult. In a nutshell, add nsw x, y can be transformed to add x, y, but not

[2014-11-07 22:44] regehr opened #112 "how to do synthesis"
Code synthesis is the next major piece of work for Souper. For each iN in a program, Souper wants to see if it can be computed more cheaply. These are its building blocks:
1. synthesized constants, including undef
2. variables from the LHS
3. instructions
Souper already knows how to do 1 (though not undef yet). 2 is easy. 3 is the main trick. Here's how we'll do it.

We start out with a cost funct

[2014-11-11 20:32] dandv opened #114 "Add GitHub repo description"
Would be nice to see it in the list at https://github.com/google

[2014-11-17 17:06] rsas opened #115 "Souper output: group phi instructions of the same block"
Currently, souper does not group phi instructions of the same block, e.g.

[code]

To enhance the readability and ease the translation to LLVM, it might be better to print as follows:

[code]

[2014-11-18 20:18] regehr opened #117 "impact of synthesis on the opt pass"
If we synthesize one or more instructions, the opt pass will have to create them. We'll end up with a little tree-walker in Pass.cpp that is sort of the opposite of the one found in Inst.cpp/Candidates.cpp. This doesn't sound too difficult. We also need to connect the tree of generated code back to the LLVM function that is being optimized. It is not obvious to me that Souper currently stores enou

[2014-11-19 15:45] regehr opened #119 ""make check" doesn't support valgrind?"
The [LLVM testing guide](http://llvm.org/docs/TestingGuide.html) says to do this to run the regression tests under Valgrind:

[code]

However this doesn't seem to work in Souper. It just runs the test suite. Probably we can just grab a bit of  makefile/lit support from LLVM and this will work. I haven't looked into it yet.

[2014-11-28 05:47] regehr opened #124 "parser bug?"
Take this query:

%0:i8 = var
%1:i1 = eq %0, 1
%2:i1 = eq %0, 2
%3:i1 = eq %0, 4
%4:i1 = eq %0, 8
%5:i1 = eq %0, 16
%6:i1 = eq %0, 32
%7:i1 = eq %0, 64
%8:i1 = eq %0, 128
%9:i1 = or %1, %2, %3, %4, %5, %6, %7, %8
infer %9

%20:i8 = ctpop %0
%21:i1 = eq %20, 1
result %21

Parse and print it, and the result is:

%0:i8 = var
%1:i1 = eq 1:i8, %0
%2:i1 = eq 2:i8, %0
%3:i1 = eq 4:i8, %0
%4:i1 = eq 16:i8

[2014-12-05 17:32] #115 closed, assigned to nobody

[2014-12-08 21:36] #114 closed, assigned to nobody

[2014-12-09 20:37] rsas opened #135 "Add instruction and KLEE expression cache"
Currently, for each `infer()` call we scan the target instruction recursively for candidates, but any subsequent `infer()` calls don't reuse previous scanning results. Similarly, we don't reuse translated instructions in `KLEEBuilder`. We should eventually add a cache.

[2014-12-19 00:37] msoos opened #141 "Build problems"
After `./update_deps.sh` my terminal crashed, so the llvm-config location was not in the shell env. It was not documented in the README that I actually have to do `cmake -DCMAKE_BUILD_TYPE=Debug -DLLVM_CONFIG_EXECUTABLE=/path_to_souper/third_party/llvm/Debug/bin/llvm-config /path_to_souper/` To make it work. This is needed for every time I want to build Souper from scratch (i.e. `rm -rf build`, `m

[2014-12-20 21:01] #124 closed, assigned to nobody

[2014-12-20 21:02] #117 closed, assigned to nobody

[2014-12-20 21:03] #81 closed, assigned to nobody

[2014-12-20 21:06] #107 closed, assigned to nobody

[2014-12-30 03:39] rsas opened #147 "Remove n-ary associative operator from ExprBuilder::addPathConditions"
I noticed that there is still one place where an instruction with an n-ary associative operator, namely ``and``, is created:

https://github.com/google/souper/blob/master/lib/Extractor/Candidates.cpp#L494

This should be removed.

@chenyang78 could you please have a look at it?

[2015-01-07 15:23] #147 closed

[2015-01-07 15:26] regehr opened #152 "possible blockpc bug"
I'd have expected that blockpc would let Souper optimize the code below, but it doesn't. The thing that Souper is supposed to see is that %8  == 10.

[code]

[2015-01-07 16:20] regehr opened #153 "possible constant synthesis bug"
The LLVM below should permit a constant to be synthesized, but it doesn't. In particular, I'd have expected %5 to be zero here.

[code]

LLVM:

[code]

[2015-01-07 16:33] rsas commented on #153
Are you using z3?

[code]

[2015-01-07 16:35] regehr commented on #153
oops

[2015-01-07 16:35] #153 closed

[2015-01-07 16:37] rsas commented on #153
This is a good test case, thanks.

[2015-01-07 16:37] regehr commented on #152
my mistake-- wrong solver

[2015-01-07 16:37] #152 closed

[2015-01-09 04:34] regehr opened #154 "possible bug"
I think we have a nasty bug. The checked_add_4() function in the code below is -- I believe -- a solid implementation of a 32-bit addition that checks for signed overflow. Souper proves that it always returns 0, which is nonsense. Here's the optimization:

[code]

I believe something has gone wrong here. The full code is below.  It is supposed to print "-202 1", but when compiled with souper it pr

[2015-01-09 04:35] regehr commented on #154
I'm invoking sclang like this:

[code]

Here are my environment variables:

[code]

[2015-01-09 05:32] rsas commented on #154
Which branch are you using? You are guessing a nop, right? I cannot reproduce the result. If I try to infer %9 in the opt above, no RHS is found.

[2015-01-09 05:34] regehr commented on #154
I get the same result using constant inference or nop inference. I'm using my synthesis-pass-support branch.

[2015-01-09 05:34] regehr commented on #154
Below is the Souper annotated with C-level information. All looks good to me.

[code]

[2015-01-09 05:35] regehr commented on #154
I wonder if blockpc is somehow mixing up UB predicates from the different branches?

[2015-01-09 05:37] rsas commented on #154
I reproduced it on master with constant inference, investigating.

[2015-01-09 05:48] rsas commented on #154
It's definitely something nasty with predicates and UB constraints. @chenyang78 added the block pc constraint handling code, I'll have analyze it first.

[2015-01-09 05:54] chenyang78 commented on #154
I will investigate it over the weekend, if it's not in hurry. Sorry for introducing the bug.

[2015-01-09 05:56] rsas commented on #154
It's not clear if it's your bug or not. I'll let you know if I won't find anything today/tomorrow.

[2015-01-09 06:02] regehr commented on #154
No rush, I'm just happy I found an understandable testcase for it. Until tonight I had been on the trail of this one for several days without luck.

[2015-01-09 06:16] chenyang78 commented on #154
Thanks Raimondas.

[2015-01-12 06:07] chenyang78 commented on #154
I see what's going wrong here. I will send a bug-fix request soon.

[2015-01-13 03:36] regehr opened #157 "missed optimization"
This one assumes that we take Yang's fix to #154...

The problem below has two addition functions that do overflow checking. They are exactly equivalent. Souper is able to prove that check_result() never throws an assertion but for some reason it does not prove that check_overflow() never throws an assertion. Can someone look into it?

Result is independent of solver choice and I'm compiling like

[2015-01-13 03:40] regehr commented on #157
Here's the LLVM that I get -- I don't see any obvious Souper stoppers in there.

[code]

[2015-01-13 04:05] regehr commented on #157
Actually it is LLVM, not Souper, that proves check_result() is empty.

[2015-01-15 03:44] #119 closed

[2015-01-15 04:06] regehr commented on #157
Here's the Souper in question:

[code]

[2015-01-15 04:09] regehr commented on #157
And below is the LLVM. I believe this particular LLVM is correct since I tested it with all 2^32 inputs and the assertion never fails. Thus I think it's safe to say that Souper is either buggy or else somehow not up to the task of seeing the meaning of this code.

[code]

[2015-01-15 04:16] regehr commented on #157
My guess is somehow we're asking too much of blockpc here but I haven't looked into it at that level.

[2015-01-15 04:49] rsas commented on #157
I'll have a look at the ``blockpc`` code soon.

[2015-01-15 14:38] #154 closed

[2015-01-15 14:42] #141 closed

[2015-01-15 15:19] regehr opened #159 "unsupported tests?"
I'm getting 6 unsupported tests on my Mac, is this a bug? Of course I'm giving Souper a TEST_SOLVER (or else more tests would be failing).

[code]

[2015-01-15 16:46] rsas commented on #159
The six test cases requires the feature ``solver-model`` that is enabled when ``z3`` or ``cvc4`` are used.

[2015-01-15 17:41] regehr commented on #159
Ah, got it. Probably not necessary to update the README to state this.

[2015-01-15 17:41] #159 closed

[2015-01-16 08:11] chenyang78 commented on #157
John, Thanks for the detailed example! I will investigate it.

[2015-01-16 22:14] rsas commented on #157
What I'm not sure about is if the bug is in the blockpc harvester or the solving part.

[2015-01-17 05:57] regehr commented on #157
If I code the overflow checks in branch-free fashion, Souper optimizes everything properly:

[code]

[2015-01-18 04:21] regehr opened #161 "souper doesn't exploit assume()"
Souper should find the optimization here, but doesn't. I suspect a phase ordering problem of some sort.

[code]

[2015-01-18 05:13] regehr commented on #161
Looks like probably a phase ordering problem: Souper finds the optimization after the C code above is optimized using only SROA and inlining.

[2015-01-18 12:41] jeroenk commented on #161
I would guess that SROA doesn't have any effect, as there are no aggregates in the code. That inlining is needed makes sense, because we're not doing interprocedural analysis, and inlining will not happen by default at the lowest optimisation level.

[2015-01-18 15:26] regehr commented on #161
SROA is the new mem2reg.

[2015-01-18 15:29] regehr commented on #161
I'll review the output of opt -print-after-all when I get a chance, but my guess is that Souper isn't running until some pass has already eliminated the unreachable instructions. It might be InstCombine that does this, for example.

[2015-01-18 18:52] jeroenk commented on #161
Ok, I think I'm simply confused on how to reproduce this. How should I invoke Souper?

[2015-01-18 23:23] regehr commented on #161
If by "reproduce this" you mean "reproduce Souper failing to optimize the code to return 1" then you should run something like:

[code]

[2015-01-18 23:49] jeroenk commented on #161
The problem seems to be that even before the instruction combiner and inliner are called for the first time, assume has been transformed from:
[code]

into (CFG simpification)

[code]

into (SROA)

[code]

So, yes, the unreachable branch is being dropped.

[2015-01-18 23:57] regehr commented on #161
Ok, thanks! Perhaps what is called for here is a command-line flag to the Souper pass that causes it to run early? It has to run after SROA and inlining and ideally after stuff like adce and constant propagation, but before CFG simplify and probably also before InstCombine.

[2015-01-19 00:04] jeroenk commented on #161
Alternatively, replace the implementation of assume by
[code]
and support the llvm.assume intrinsic. However, you might have had more in mind than supporting an assume function?

[2015-01-19 00:08] regehr commented on #161
I hadn't heard of __builtin_assume(), is it new? Last I heard, LLVM's story was to use "unreachable" for this purpose. Yes, let's certainly use this new thing if it works better.

[2015-01-19 00:26] regehr commented on #161
I just took a look at @llvm.assume, it seems to stick around through all of the optimization passes, I guess it is elided only in the backend. Yes, we should definitely modify Souper to generate the appropriate path condition when it sees this intrinsic!

[2015-01-19 20:39] Eelis commented on #161
That would be awesome! I can't wait to play around with assume() to see how often it could be used in, say, libstdc++, to help optimization. I hope that as least /some/ of all those class invariants and function preconditions that currently only live in comments or asserts could be exploited by Souper. :)

[2015-01-19 21:37] jeroenk commented on #161
I thought I give this a go, but it's apparent slightly trivial than I thought. Starting from:
[code]
What I thought was that I could generate something like:
[code]
Which would then give me the proper replacement. However, what I get is ```%tobool.i7``` and ```%tobool.i``` being replaced by true in the IR, but the return value stays as it is. I suspect I'm missing something fundamental here.

[2015-01-20 15:07] regehr commented on #161
Jeroen, can you explain your implementation strategy? I agree that extracting a path condition from an @llvm.assume is the right idea.

[2015-01-20 15:24] jeroenk commented on #161
My first attempt is here jeroenk/souper@720bdf1b622f9272c2a83e6905ca48a929255e4b

Adding a few lines to ExprBuilder::addPathConditions

[2015-01-20 19:21] regehr commented on #161
I think your patch is correct, and that it does the right thing when we run standalone Souper. In the context of the pass, it isn't working -- Souper is generating the correct path conditions but then doing the wrong optimizations. I'll have more time to look at this later today hopefully.

[2015-01-20 19:23] regehr commented on #161
Basically it looks like a phase ordering bug -- something we haven't seen before.

[2015-01-20 21:14] jeroenk commented on #161
Interesting.

I should learn to give all the details. I was running Souper as an opt pass:
```opt -load libsouperPass.dylib -souper -z3-path=/path/to/z3  test.bc```
As far as I can tell, it seems that this implies that it's only running Souper followed by two verification passes. Wouldn't that indicate that it's something else than a phase ordering problem?

[2015-01-20 21:16] regehr commented on #161
Probably so.  I'll try to help get to the bottom of this a bit later.

[2015-01-20 21:47] jeroenk commented on #161
Duh, so inference for integers of width larger than 1 is disabled by default in the pass. Enabling this does the trick.

[2015-01-20 21:54] jeroenk commented on #161
Before I turn this in a pull request, I think I need two things:
* Some test cases (obviously)
* Disabling replacements of instructions that (in)directly feed into assume instructions.
At least the direct ones need to be disabled, otherwise the added path condition will always the replace the assume(%v) with an assume(true).

[2015-01-20 22:26] regehr commented on #161
Jeroen, I think your second item will probably fix the phase ordering problem I saw easier.

[2015-01-25 05:38] regehr opened #164 "UB bug"
I think we have an ugly UB bug.  Consider this program:

[code]

Hopefully we all agree that it is not undefined and that it prints 1. Souper makes it print 0.  Here's the critical transformation:

[code]

LLVM is introducing UB by speculatively executing the right argument of the first &&, but it turns out to be harmless.  Here's how the code works before Souper:

[code]

So -- despite the UB --

[2015-01-25 06:36] rsas commented on #164
I see a constraint conflict between the PC and the UB, trying to figure out how to fix it.

[2015-01-25 07:52] regehr commented on #164
I suspect the answer is to read the Alive code for this and just do what it does.

[2015-01-26 09:38] nunoplopes commented on #164
I guess one of the problems is that Souper doesn't differentiate between UB and poison constraints.
But the idea is that if the branching value is poison, then we can branch either way. Here, Souper is always forcing %5=0, which is too strong (since it can enter that branch even if %5=1 -- in case it's poison).  So I guess that in the ideal world, Souper would need to consider all branches if a gi

[2015-01-26 23:25] regehr opened #166 "non-UB bug"
The behavior of the test case below is changed by Souper even with UB turned off. Of course it could be an LLVM bug exposed by Souper, but we need to take a look.

[code]

[2015-01-27 00:32] jeroenk commented on #166
I tried looking at this, but I have a very hard time relating
[code]
to the only fragment of IR it seems to map to:
[code]
The phi node corresponds to the branch in the ```if.then``` block, which check the value of ```%cmp3```. This can only correspond to ```%4:i1 = slt 1:i32, %3``` in the souper code. Yet, only one of the blockpc's that follows ```%4``` refers to this value. I would actually expe

[2015-01-27 01:00] regehr commented on #166
Here's the critical transformation. I also have a hard time with blockpc, but it's a really valuable thing.

[code]

[2015-01-27 03:01] chenyang78 commented on #166
blockpc asserts path conditions that must be true for a given branch. For example, given the following llvm bitcode:

    entry:
        %0 = load i32* @x1, align 4, !tbaa !2
        %cmp = icmp slt i32 %0, 1
        br i1 %cmp, label %entry.if.end10_crit_edge, label %if.then

    if.then:                                          ; preds = %entry
        %1 = load i32* @x0, align 4, !tbaa !2

[2015-01-27 03:06] regehr commented on #166
Does the optimization look correct to you Yang? If so, then LLVM must be wrong somewhere else. I'm not sure how useful bugpoint is for wrong code bugs, anyone know? Otherwise we can do something less smart like cut-and-pasting stuff from the print-after-all output into lli.

[2015-01-27 03:20] chenyang78 commented on #166
@jeroenk For the souper IR that you gave, we cannot have ``pc``, because we don't utilize context-sensitive control-flow information.  In other words, we don't know the fact that ``%cond.false`` and ``%if.then`` come from the same predecessor ``%entry`` with the same branch condition. IMHO, this is probably one of the limitations of our current pc/blockpc harvesting strategy.

[2015-01-27 03:21] chenyang78 commented on #166
@regehr, I will investigate it tonight.

[2015-01-27 03:41] regehr commented on #166
Thanks Yang. Full optimization log is here if that's helpful.

http://pastebin.com/kHLxjv2A

[2015-01-27 08:02] chenyang78 commented on #166
The second optimization looks invalid to me.

    %0 = block 2
    %1:i32 = var
    %2:i1 = slt %1, 1:i32
    blockpc %0 0 %2 0:i1
    blockpc %0 1 %2 0:i1
    %3 = block 3
    blockpc %3 1 %2 1:i1
    %4:i32 = var
    %5:i1 = slt 0:i32, %4
    %6:i32 = zext %5
    %7:i1 = slt 1:i32, %4
    %8:i32 = zext %7
    %9:i32 = phi %0, %6, %8
    %10:i1 = slt %1, %9
    blockpc %3 2 %10 0:i1
    %11:i1 =

[2015-01-27 08:37] chenyang78 commented on #166
Generated KLEE expression. Pondering if it's correct.

      (Or (Eq false
              (And (Or (Eq false (And N0:(Read 0 blockpred) N0))
                       N1:(Eq false (Slt N2:(Read w32 0 a1) 1)))
                   (Or N0 N1)))
          (Eq false (Eq 0 N2)))

[2015-01-27 14:36] jeroenk commented on #166
It's correct, but not sufficient. The problem is that the ```N0``` expression is not being guarded by anything. Hence, if we let

```(Slt (Read w32 0 a1) 1)```

evaluate to true, which happens when you follow the control flow from ```entry``` -> ```._crit_edge``` -> ```14``` (referring to John's dump above), then you essentially end up with

```(And (Eq false N0) N0)```

for the ```(And ...)``` su

[2015-01-27 15:01] regehr commented on #166
I just want to add that if there is a Souper bug here, it's a really hard one to find using Csmith, coming up only once every 12 hours or so on a fast quad core. Next time we might not be so lucky, so let's be really careful about this code.

[2015-01-28 05:37] chenyang78 commented on #166
@jeroenk , Thanks for the explanation! I don't quite understand this part: how can we get

    (And (Eq false N0) N0)

by assuming

    (Slt (Read w32 0 a1) 1)

to be true. Can you elaborate on that? Thanks.

[2015-01-28 06:20] chenyang78 commented on #166
OK, I see the problem now. Actually the bug relates to the part where we generate souper IR. The phi node relevant to ``%3 = block`` is not generated. If we look at the second IR in John's example, we only have ``%3 = block`` and ``blockpc %3``, but the corresponding ``phi`` instruction doesn't exist. Looks like the way that we compute the equivalence classes for blockpcs has some problem. Working

[2015-01-28 11:14] jeroenk commented on #166
@chenyang78 I assume you figured it out by now, but just for completeness, we have:
[code]
By ```(And x x) = x``` this is equal to:
[code]
then assuming ```(Slt (Read w32 0 a1) 1)``` we get:
[code]
and by ```(Eq false true) = false```:
[code]
Substituting ```N1```:
[code]
and simplifying ```(Or x false)``` to ```x``` we get:
[code]

[2015-01-28 17:37] rsas commented on #112
I think my patch #167 is ready for the initial review. Please give the synthesis a try and let me know if you encounter any problems. You must use z3 or any other solver that produces models.

[2015-01-29 01:37] regehr commented on #157
Here's a simpler example where Souper misses the obvious optimization. Something definitely is wrong here.

[code]

[2015-01-29 08:15] chenyang78 commented on #166
@jeroenk Thanks!

[2015-01-29 15:32] jeroenk commented on #157
@regehr @chenyang78 This looks rather bad. ```sign``` is optimized to

[code]

Souper takes this and simplifies this to ```ret i32 0```. This seems related to issue #166. The conditions generated from the ```if.end``` block are not sufficiently guarded to faithfully represent the execution which skips that block and immediately jumps to the ```return``` block.

[2015-01-30 06:18] chenyang78 commented on #157
Thanks John and Jeroen, I will look at it more closely and try to fix #166 over the weekend.

[2015-02-02 09:39] chenyang78 commented on #157
@jeroenk In my test, souper didn't optimize the code that you referred. Assume I saved the bitcode in the file simple2.ll:

        $ llvm-as -o simple2.bc simple2.ll
        $ souper -keep-solver-inputs -dump-klee-exprs -z3-path=/home/chenyang/other_programs/z3/build/z3 simple2.bc
        ; Listing valid replacements.
        ; Using solver: Z3 + internal cache
        Solver input saved to /tmp/

[2015-02-02 10:37] jeroenk commented on #157
@chenyang78 try passing ```-souper-infer-iN```

[2015-02-02 15:24] jeroenk commented on #157
@chenyang78 I'm a bit puzzled, I'm no longer able to reproduce the problem either. I'll keep digging a bit more.

[2015-02-02 16:28] jeroenk commented on #157
@chenyang78 I'm starting to suspect that my binaries were out-of-sync compared to the state of my source tree. Hence, my apologies for the spurious report.

[2015-02-02 16:44] jeroenk commented on #157
Back to John's last example. This gets optimized to:
[code]

The candidate souper generates for the ```eq``` instruction at the bottom is:

[code]

In case we follow the code path corresponding to the ```4294967295:i32``` (= -1) alternative in the phi node, the value of ```%1``` is not getting constrained to a negative value. This means that the solver is allowed to pick a positive value, set ```%

[2015-02-03 09:06] chenyang78 commented on #157
@jeroenk No problem at all. Thanks for digging into the issue!

The ``blockpc`` that you manually added was not generated by Souper's blockpc harvesting algorithm, because the basicblock ``sign.exit`` has multiple incoming branches. I am thinking that probably we shouldn't rule out the multiple-incoming-branches case. What do you think, Peter @pcc? Thanks.

[2015-02-04 22:20] santoshn commented on #164
Souper is not poison aware which seems to be the problem. It is deducing x2 > 0 to prevent its assumed undefined behavior and hence %5 is inferred to be zero. I am wondering what it would take to make Souper poison-aware.

[2015-02-08 04:36] regehr commented on #157
@pcc might be busy doing other stuff?

Yang, are the modifications difficult? Clearly this needs to wait until #166 is sorted out. I keep running into additional test cases where this fix will matter.

[2015-02-08 04:46] chenyang78 commented on #157
Yes, it needs some modification. I think we should wait until #166 gets fixed.

[2015-02-08 04:55] regehr commented on #157
Sounds good-- we'll back burner this one until the no-UB version of Souper is totally solid.

My impression is that real for for LLVM's (nasty) UB model is going to take some time and thought.

[2015-02-08 05:16] chenyang78 commented on #157
Yes. Thanks for running the test. Hopefully the fix to #166 would be good.

[2015-02-09 04:40] regehr commented on #166
First of 5 problems found by Csmith ni a 24-hour run.

[code]

[2015-02-09 04:50] regehr commented on #166
[code]

[2015-02-09 04:52] regehr commented on #166
Program from the previous comment is a good one since it results in only one souper optimization.

[code]

[2015-02-09 04:52] regehr commented on #166
[code]

[2015-02-09 04:53] regehr commented on #166
[code]

[2015-02-09 04:53] regehr commented on #166
[code]

[2015-02-09 06:04] chenyang78 commented on #166
I will investigate those. Thanks, John.

[2015-02-09 06:24] chenyang78 commented on #166
OK, I see Souper's issue for your second program, i.e,

    int printf(const char *, ...);
    char x0;
    int x1 = 1;
    int x2() { return x0 ?: 1 % x0; }

    int main() {
      if ((x1 || x2()) ^ 0) {
        if (x1 < 1) {
          ;
        } else {
          printf("x\n");
        }
      }
      return 0;
    }

Here Souper wrongfully exploited the "UB" in the function ```x2```. The progr

[2015-02-09 06:47] regehr commented on #166
I believe that all of these problems occur when -souper-exploit-ub=true but please double check.

[2015-02-09 16:24] regehr commented on #166
Ok I double checked and this optimization does happen when UB is turned off:

[code]

[2015-02-09 16:27] regehr commented on #166
Here's the llvm:

[code]

[2015-02-09 16:54] regehr commented on #166
Below is a partial annotation of the Souper. It looks to me like the blockpcs are telling us that x1 == 0 regardless of which branch was taken. Is that correct, Yang?

[code]

[2015-02-09 17:48] jeroenk commented on #166
Going by Yang's earlier explanation, I think this says that for ```%8:i32 = phi %0, %7, %6```, we may assume that:

* For the the first alternative of phi node: %4 == 1 and %2 == 1
* For the second alternative of phi node: %2 == 1

[2015-02-09 18:08] regehr commented on #166
Jeroen that is my understanding as well. The problem here, of course, is that x1 != 0.

[2015-02-09 19:54] jeroenk commented on #166
But, ```%8:i32 = phi %0, %7, %6``` corresponds to ```%9 = phi i32 [ %8, %7 ], [ %5, %3 ]``` in the bitcode, which is only reachable in case x1 == 0. Or am I missing something?

[2015-02-09 20:52] regehr commented on #166
Jeroen, I think you're right. So I'm still not sure what's going wrong here.

One thing we should consider is what the no-UB mode does when there is a divide by zero. My understanding is that division by zero is permitted in SMTLIB2 code but that the result is unspecified. Would that be contributing to the problem here?

[2015-02-09 20:59] chenyang78 commented on #166
Thanks, John and Jeroen. I will take a close look at it tonight.

[2015-02-09 22:45] regehr commented on #166
I'm pretty sure the divide by zero isn't the problem...

[2015-02-09 23:07] rsas commented on #166
Div by zero records UB if the second op is a constant 0. In turn, KLEEBuilder returns constant 0 as the result. If any path conditions constrain the second op to be 0, solver doesn't complain. I did the following test:

[code]

[2015-02-09 23:09] jeroenk commented on #166
@regehr Bitvector division in SMTLib is a total function, so anything divided by zero will have a well-defined answer. However, the solver is not allowed to make any assumptions about the result of the function in case the divisor is 0.

For a program in which the division by zero cannot actually be executed, I would expect the SMT query that is generated to be such that the value of the division

[2015-02-09 23:12] rsas commented on #166
Thanks @jeroenk. I ran the test above with z3. stp says in both cases ``LGTM``.

[2015-02-09 23:59] jeroenk commented on #166
The KLEE expression is as follows (writing ```A ==> B``` for ```(Or (Eq false A) B)```) and with some trivial simplification:

[code]

Here, N0 represents the blockpc, N2 represents %1 (or x1 in the original C code), and N3 represents %3 (or x0 in the original). For the optimisation to hold the expression must be valid, i.e., whatever values I pick for N0, N1, and N2, the result must be true. Of c

[2015-02-10 00:19] rsas commented on #166
I think I'm missing here something, because for me the souper optimization output looks correct. Regardless the branch of ``%8:i32 = phi %0, %7, %6``, ``%1`` is always constrained to ``0`` (blockpcs are equal for both branches). Consequently, ``%11`` is always ``1`` and herewith ``cand %12 1:i1`` is correct. In other words, the optimization is equivalent to the opt with all blockpcs replaced with

[2015-02-10 00:30] regehr commented on #166
Raimondas, if you can't find a bug in the Souper optimization, there must be a harvesting bug, right?

[2015-02-10 00:42] jeroenk commented on #166
@rsas Naive question: wouldn't constraining ```%1``` to ```0``` require blockpc's that refer to ```%5```?

[2015-02-10 00:43] rsas commented on #166
Yes, if others prove me wrong. I don't see a bug in the Souper output and I see a problem in the LLVM as follows:

The first branching instruction ``br i1 %2, label %3, label %10`` can jump to label ``%10`` if ``%1 != 0``. I hope we all agree here.

At label 10, the execution of ``%or.cond = or i1 %11, %12`` is constrained by blockpcs (collected through ``%11``) which in turn constrain ``%1``. Thi

[2015-02-10 00:48] rsas commented on #166
In summary, ``%12`` can be 0 or 1 when coming from the initial false branch. On that path, there are no constraints on ``%1``!

[2015-02-10 00:52] chenyang78 commented on #166
Thanks guys. @rsas, I think you are right. Looks like it relates to issue #157. We shouldn't skip constraints on branches, which can result in both missing-optimization and mis-optimization.

[2015-02-10 00:55] rsas commented on #166
@jeroenk can you please rephrase the question?

[2015-02-10 01:18] jeroenk commented on #166
@rsas Rephrasing: I think I'm fundamentally confused about what a list of souper instructions is. From the documentation and all previous discussions I got the impression that there's some importance in the order of the instructions, but following your reasoning above, it seems that I should view as a set and not as a list. We write it as a list to conveniently express some non-circular dependenci

[2015-02-10 02:00] rsas commented on #166
Correct. You always start from the bottom cand instruction, collect all constraints recursively and add them at the top level.

[2015-02-10 02:27] chenyang78 commented on #166
OK, I think the fundamental problem here is that we are not taking control-flow facts into account. For the given example, two ```blockpcs``` on ```%2``` cannot be viewed as a pure "union".  Thinking about a way to encode control-flow info...

[2015-02-10 02:30] vinodgro commented on #166
I think so too. I suspect you'll need to encode both data flow and control
flow information into blockpc.

On Mon, Feb 9, 2015 at 6:27 PM, Yang Chen <notifications@github.com> wrote:

[2015-02-10 02:43] rsas commented on #166
@chenyang78 I think it's time for us to rethink the design of pcs/blockpcs/UBs/Phis. They all have things in common and the code is not trivial at all.

[2015-02-10 02:46] rsas commented on #166
At the same time, we have to encode poison values too.

[2015-02-10 02:47] chenyang78 commented on #166
@rsas I agree.

[2015-02-10 03:19] regehr commented on #166
One of the earliest major Souper bugs was where UB constraints weren't properly filtered through phi nodes. Raimondas, you solved that -- can you please explain the flavor of the solution and which aspects of it can be used (and not used) here?

Regarding poison/undef/UB, this is hard, but Nuno implemented a good solution in Alive. I'll mail everyone our draft Alive paper where this is explained p

[2015-02-10 04:31] rsas commented on #166
The flow of UB constraints is encoded using Phi branch predicates. We add the UBs only if the corresponding Preds are true (``Pred => UB``). I'm not sure if we can easily adapt this concept to ``blockpcs`` though.

[2015-02-10 04:44] regehr commented on #166
Do we want to add a flag for turning off blockpc until we can resolve this?

[2015-02-10 04:46] rsas commented on #166
I second that.

[2015-02-10 06:08] chenyang78 commented on #166
```blockpc``` constraints are generated in the same way as UBs. I will add a flag to disable ```blockpc``` for now.

[2015-02-10 06:10] regehr commented on #166
Thanks Yang.
Yes, I feel like there can be some shared mechanisms here. Let's take the time and get this right -- in the meantime Souper works perfectly well in degraded (no UB, no blockpc) mode.

[2015-02-10 06:14] rsas commented on #166
@chenyang78 I just created a pull request that clears the collected BPCs so that they are neither printed nor exploited. If we disable them in KLEEBuilder, they would be still printed which might be confusing. Let me know what you think.

[2015-02-10 06:22] chenyang78 commented on #166
@rsas Thanks for implementing it. I was considering to disable blockpc by default. It's fine to make it on by default. Enabling blockpc by default requires fewer changes to the relevant tests.

[2015-02-10 06:23] rsas commented on #166
Leaving the default option ``true`` encourages us to work on the fix faster ;)

[2015-02-10 06:25] regehr commented on #166
I was going to say the same thing.

[2015-02-10 06:37] chenyang78 commented on #166
@regehr @rsas. Agreed ;)

[2015-02-13 07:10] rsas opened #173 "Store error flag in the Redis cache during inference"
When using ``cache_infer``, it would great to store a flag if an error has occurred during inference including the error message (e.g. ``Protocol error``). Similarly, ``cache_dump`` should extended to retrieve those erroneous optimizations and their error codes.

[2015-02-13 21:48] rsas opened #174 "Implement GEP instruction"
The GEP shouldn't be unrolled using Souper instructions, but rather in the KLEEBuilder backend.

[2015-02-25 18:13] rsas commented on #112
Implemented in 21ed266.

[2015-02-25 18:13] #112 closed

[2015-02-25 20:04] rsas opened #177 "Fix -souper-exploit-ub=false mode in synthesis"
Currently, the ``-souper-exploit-ub=false`` mode doesn't work in synthesis and should not be used.

[2015-03-02 11:45] jeroenk commented on #173
Could you explain why you want this? In my opinion such "optimisations" should not make it into the cache and souper should just abort when an error occurred.

[2015-03-02 16:14] rsas commented on #173
My current workflow using souper is as follows: compile some code with ``-souper-no-infer`` to populate Redis with LHSs and then experiment with inference (e.g. synthesis) using the ``cache_infer`` tool only. Finally, I dump the successful optimizations using using the ``cache_dump`` tool and analyze them. For the unsuccessful cases I have no information why e.g. synthesis failed. It can be solver

[2015-03-02 16:16] jeroenk commented on #173
The timeout and no optimization cases make sense; segfaults and protocol errors should be fixed on the spot, I think.

[2015-03-02 16:22] rsas commented on #173
I agree, segfaults/protocol errors would be just a convenient thing to retrieve the failing LHS.

[2015-03-19 20:44] regehr opened #181 "crash bug with dynamic profiling"
Does anyone have time to take a look? This crash comes from compiling gcc from SPEC CPU 2006 with dynamic optimization profiling. The crash happens in InstCombine, not in Souper itself -- so this may not be our bug.

[code]

[2015-06-09 11:05] rsas opened #184 "Bump KLEE"
and update @rsas's KLEE repo.

[2015-06-09 11:07] rsas commented on #184
In particular, this patch is important if we don't exploit UB:

https://github.com/klee/klee/issues/218

[2015-06-28 10:36] rsas opened #189 "Add synthesis documentation"
Explain in README a collection of command line options that give good basic synthesis functionality

[2015-06-28 10:45] rsas opened #190 "Enforce UB constraints on the RHS in synthesis mode"
Prevent following optimizations:

[code]

[2015-06-28 13:27] rsas opened #191 "Extend souper2llvm with LHS/RHS instruction printing"
There should be two options, ``-print-lhs`` and ``-print-rhs``.

[2015-06-30 12:36] rsas opened #193 "Return smallest optimizations when costs are ignored"
The expectation here is that souper finds the ``slt`` instead of the longer version.

[code]

To implement this, we have to disable longer wirings for the current number of components, and, if a smaller version is not found, re-enable them in the next round and so on.

[2015-08-03 18:17] douggard opened #196 "Error undefined symbol FoldingSetImpl"
The command I'm using:

    $ /path/to/opt -load /path/to/souper/build/libsouperPass.so -souper -z3-path=/path/to/z3/bin/z3 solveme.bc -o opt_solveme.bc

The error I'm getting:

    Error opening '/path/to/souper/build/libsouperPass.so':  /path/to/souper/build/libsouperPass.so: undefined symbol: _ZN4llvm14FoldingSetImpl6anchorEv

I get the same error with the clang command listed in the google/sou

[2015-08-03 18:25] douggard commented on #196
I wasn't using the opt in souper/thirdparty/llvm/Release/bin/opt - I tried that one and got no error. Issue closed.

[2015-08-03 18:25] #196 closed

[2015-08-21 10:08] rsas opened #197 "Add KnownBits support for souper2llvm"

[2015-08-22 19:51] regehr commented on #197
For this souper:
[code]
I think this is a reasonable translation:
[code]
The purpose of the store is to ensure that the masked value has another user, which should help keep LLVM from messing with the masking code, as opposed to the code following the mask.

[2015-08-26 21:27] rsas commented on #197
Looks good. I'll hack it on Friday.

[2015-08-26 21:37] regehr commented on #197
Not sure if there's anything here for you to steal but here's my crappy program for computing masks.

[code]

[2015-08-26 21:39] rsas commented on #197
Thanks. You should start another competition in your blog post to do this in one line.

[2015-11-18 12:53] blitz opened #206 "Build fails with missing terminating " character"
I am trying to build souper on my Fedora 23 box. I followed the instructions and the build fails with:

[code]

[2015-11-18 12:55] regehr commented on #206
This is a bug in gcc 4.8 and earlier, please use either clang or gcc >= 4.9.

[2015-11-18 12:59] blitz commented on #206
I am using gcc 5.1.1:

[code]

[2015-11-18 13:00] regehr commented on #206
I'll try to reproduce later.

[2015-11-18 13:02] blitz commented on #206
Very weird. I removed ccache, rebuild the build directory and tried it again: It compiles.

[2015-11-18 13:02] #206 closed

[2015-11-18 13:03] regehr commented on #206
Thanks for double checking!

[2016-04-14 15:59] aarzee opened #215 "sclang does not support atomics"
When I try to initiate a cmake build of LLVM using the sclang and sclang++ drivers, cmake complains that they do not support std::atomic:

[code]

[2016-04-14 16:06] regehr commented on #215
Hi Carlos, I don't think this is a souper issue. I have run into this as well, and I solved it by building libstdc++ along with llvm and clang. One thing that will be helpful is bumping the Souper version to llvm 3.8, I will try to do that soon.

[2016-06-03 08:09] regehr commented on #215
Souper has been bumped to current LLVM, please see if that is useful.

[2016-06-03 08:09] #215 closed

[2016-06-03 08:12] regehr opened #218 "OOM in getUBPhiPaths"
While building current LLVM, getUBPhiPaths recurses to depth ~1000, eventually exhausting RAM on the machine I'm using. I've read the code and we already have some attempts to use less resources in this part of Souper. My current thought is that we simply permit Souper to fail (by bailing on this particular expression) when such a large depth of phi nodes is found, what do people think?

[2016-06-04 07:24] chenyang78 commented on #218
Yes, this part was optimized for resource usage, but looks like the optimization is not good enough for building current LLVM. The approach that you proposed is fine to me.

[2016-06-06 12:59] chadbrewbaker opened #219 "Build error. OS X 10.11.5"
[ 98%] Building CXX object CMakeFiles/souperweb-backend.dir/tools/souperweb-backend.cpp.o
souper/tools/souperweb-backend.cpp:36:53: error: use of undeclared identifier
      'getGlobalContext'
          parseAssembly(MB->getMemBufferRef(), Err, getGlobalContext())) {
                                                    ^
1 error generated.

[2016-06-06 19:09] jeroenk commented on #219
getGlobalContext was removed from LLVM a while back, so this probably broke in the last LLVM bump.

[2016-06-06 19:29] regehr commented on #219
Yeah, I think this got missed since souperweb only gets built when Go is installed or something like that -- I'll look into it tonight.

[2016-06-06 20:29] regehr commented on #219
Should be fixed-- thanks for the bug report!

[2016-06-28 18:29] aarzee opened #220 "Documentation for infer and result"
`docs/InstRef.rst` makes no mention of `infer` or `result`.

[2016-06-28 18:41] regehr commented on #220
Yeah... we should fix this! Will try to make time soon.

[2016-06-30 23:32] aarzee commented on #220
Also, I don't see any info for `C`.

[2016-07-17 05:22] rgov opened #221 "Exclude clang-souper from build"
I'd like a build flag that excludes the `clang-souper` executable from compilation so that I do not need to check out the clang and compiler-rt sources. Something like this allows me to pass `-DBUILD_SCLANG=NO`:

[code]

[2016-07-17 05:25] regehr commented on #221
This seems useful but I probably can't do it until Tuesday.

[2016-07-17 19:52] rgov commented on #221
Do you want me to submit this as a pull request?

[2016-07-17 19:54] rgov opened #222 "Documentation for dynamic profiling pass"
I think the documentation for the profiling pass is missing.

[2016-07-17 19:55] rgov commented on #219
Built fine for me on 10.12 beta. I think this issue can be closed.

[2016-07-17 19:56] rgov commented on #222
It looks like there are flags for both static and dynamic profiling, neither of which is documented.

[2016-07-17 22:43] regehr commented on #221
Please.

[2016-07-17 22:44] #219 closed

[2016-07-18 16:50] rgov commented on #221
google/souper#223

[2016-07-18 16:50] #221 closed

[2016-07-18 17:23] rgov opened #224 "SQLite support"
I'd like to be able to use SQLite instead of Redis as the cache key-value store.

This would allow one to treat the cache as a build product that can be deleted, re-used, or deployed to another machine.

SQLite does allow concurrent access from multiple processes.

The same thing can be accomplished with Redis via DUMP after a build and FLUSHDB, RESTORE before a build, as long as there aren't simu

[2016-07-18 17:27] regehr commented on #224
This probably isn't too difficult but I'm afraid I don't see the point yet of doing this.

[2016-07-18 17:50] rgov commented on #224
I'm using a build environment which is running on someone else's servers (which I cannot install new software on), and which is sandboxed to forbid connections to network services.

The workflow I want to support is:

1. Upload sources + Souper + pre-filled cache to build machine.
2. Build.
3. Download build products + cache.

You can imagine doing this across many isolated build machines, and hav

[2016-07-18 19:20] regehr commented on #224
I agree this doesn't sound like much fun, but if you're just playing with Souper, why not find a random i7 that you have full control over and work there?

I'd likely be positive about a pull request supporting SQLite but I'm probably not going to have time to do this sort of change myself in the near future.

[2016-07-18 23:44] rgov commented on #222
These are sort of documented in `sclang.in`.

[2016-09-02 00:02] rgov opened #227 "Bump to LLVM 3.9"
With the imminent release of LLVM 3.9, Souper should be updated to build with the latest LLVM sources.

[2016-09-02 01:28] regehr commented on #227
It may be time to stabilize against LLVM releases instead of trying to track head. Early on, we had to update often to take advantage of bugfixes but I don't think that's true any longer.

[2016-09-02 04:43] regehr commented on #227
I'm out this weekend but will bump to 3.9 asap, and we can leave souper there for a while.

[2016-10-05 22:16] #227 closed

[2016-10-28 19:13] regehr commented on #218
Fixed.

[2016-10-28 19:13] #218 closed

[2017-10-26 04:40] rsas opened #252 "Don't synthesize a component with all constant inputs"
The synthesis of the following snippet fails at the moment:

[code]

[code]

I see a number of candidates similar to this:

[code]

This is not ok, because no component should have inputs consisting only of constants.

[2018-01-01 21:31] rsas commented on #252
Done.

[2018-01-01 21:31] #252 closed

[2018-01-17 06:19] regehr opened #289 "Assertion `!Current->BlockConstraints.count(I->B) && "Basic block has been added into BlockConstraints!"' failed."
It's very weird that this went undetected for so long. You have to be running a Debug build of Souper to get assertions (I need to leave them turned on in Release builds!).

[code]

********************
regehr@john-home:~/xz-5.2.3/build/src/liblzma$

[2018-02-02 17:15] regehr opened #295 "crash"
This looks like it is in @zhengyangl 's new code, please take a look as soon as you can.

[code]

[2018-02-02 17:27] zhengyangl commented on #295
I am looking into it.

[2018-02-02 17:48] zhengyangl commented on #295
I submitted a PR for a fix to this crash. https://github.com/google/souper/pull/296

[2018-02-02 20:18] #295 closed

[2018-02-15 05:20] regehr opened #301 "Assertion `!Current->BlockConstraints.count(I->B) && "Basic block has been added into BlockConstraints!"' failed."
I think this is a new crash, probably @rsas should take a look at it first.

[code]

[2018-02-15 06:02] chenyang78 commented on #301
@regehr I think this is same issue that you sent out a couple of weeks ago. I know what the issue is. Let me prepare a patch.

[2018-02-23 15:55] regehr opened #304 "nop bug"
We're getting miscompilations from nop synthesis, please take a look @zhengyangl. A reduced test case is attached, the nop optimization in func.cpp (there is only one) is the issue.

[foo.tar.gz](https://github.com/google/souper/files/1752258/foo.tar.gz)

[2018-02-23 16:11] zhengyangl commented on #304
Sure, will have a look ASAP.

[2018-02-23 16:29] regehr commented on #304
Take a look at the sclang output when SOUPER_DEBUG is set. Souper does 2 constant replacements and then a nop replacement that ends up being a constant due to the earlier optimizations. It all looks OK but maybe something is going wrong in the interaction between optimizations? In general this is something we're going to have to be really careful with, due to Souper's strategy of first harvesting

[2018-02-24 05:49] zhengyangl commented on #304
Will look into this tomorrow.

[2018-02-25 01:23] zhengyangl commented on #304
Found the reason for this error.

[2018-02-25 01:45] zhengyangl commented on #304
IR before wrong souper pass:
[code]

[2018-02-25 01:46] zhengyangl commented on #304
IR after wrong Souper pass:
[code]

[2018-02-25 01:48] zhengyangl commented on #304
There are three replacement in this pass,
Replace %.pre8 with 4294932011
Replace %.pre7 with 4294932011
These two replacements are correct. The wrong replacement is
Replace %sh_prom4.pre-phi with 4294932011

[2018-02-25 01:51] zhengyangl commented on #304
This is not a nop replacement.  I can reproduce this error when SOUPER_INFER_NOP is unset.

[2018-02-25 01:51] regehr commented on #304
Be careful here! Once a nop is in the cache, Souper will do it even if you don't ask for nop synthesis.

[2018-02-25 01:52] regehr commented on #304
Use SOUPER_NO_EXTERNAL_CACHE and see if the bug still happens without SOUPER_INFER_NOP.

[2018-02-25 01:54] zhengyangl commented on #304
@regehr You're right, the error disappears. I need some more time to figure out why this replacement happens.

[2018-02-25 01:57] zhengyangl commented on #304
Souper generates this optimization.
[code]

[2018-02-25 02:03] regehr commented on #304
This seems ok, right?

[2018-02-25 02:06] zhengyangl commented on #304
I believe it missed the path information in the original IR. %conv cannot be a same value in label entry.if.end_crit_edge, and label if.then.

[2018-02-25 02:08] zhengyangl commented on #304
The phi node %sh_prom4.pre-phi cannot be optimized here.

[2018-02-25 02:09] regehr commented on #304
Are the optimizations individually correct and only wrong when applied together?

[2018-02-25 02:11] zhengyangl commented on #304
I guess so, this is a correct optimization, but it is not correct when putting it back.

[2018-02-25 02:12] regehr commented on #304
I've been worried about something like this so it's good to have an example. Let's make sure to solve it properly since these problems will only get worse when we synthesize instructions.

[2018-02-25 02:13] zhengyangl commented on #304
Sure, I will give a fully reasoned pull request on this error.

[2018-02-25 05:00] zhengyangl commented on #304
Phi node handling seems broken (in Solver.cpp). Souper now transform this code:
[code]
into
[code]

[2018-02-25 05:12] zhengyangl commented on #304
Souper first replaces %c with %call_bb1, and then it replaces all uses of %call_bb1 with 1. The second replacement is a wrong replacement.

[2018-02-25 05:28] zhengyangl commented on #304
Both replacement seems correctly individually, but I think the first replacement is wrong since the two input [%call_bb1, %bb1] and [%call_bb2, %bb2] are not logically equivalent and they contain path condition information.

[2018-02-25 06:05] regehr commented on #304
I think your latest examples above are in the subset of LLVM supported by Alive. Can you try to translate them into Alive and see if it agrees with this optimization?

[2018-02-25 06:07] regehr commented on #304
Nevermind, I looked at the example again, the transformation is obviously wrong.

But we should be using Alive whenever possible here. Also, Nuno has a script for automatically converting LLVM into Alive that will be helpful.

[2018-02-25 10:38] chenyang78 commented on #304
The root cause is that we rely on ```llvm::FoldingSetNodeID``` to compute a unique ID for each souper instruction. So, for the LLVM IR below:

    define i32 @func(i32 %x) local_unnamed_addr {
    entry:
      %cmp = icmp eq i32 %x, 0
      br i1 %cmp, label %bb1, label %bb2

    bb1:                                              ; preds = %entry
      %call_bb1 = add i32 %x, 1
      br label %jmp

[2018-02-25 22:13] regehr commented on #304
The folding set aspect of souper is something I haven't understood too well. How much benefit does it give us in terms of saving memory and in enabling optimizations? I have no idea.

It would be nice if we could figure out how to disable only problematic folding. As Zhengyang pointed out, the issue stems from the fact that different path information is associated with the two LLVM instructions th

[2018-02-26 00:18] chenyang78 commented on #304
I am not sure about the benefit of folding instructions. It might not be a bad idea that we disable it entirely. If we decide to fold instructions with path information, we need to be really careful. Seems to me if we fold two different LLVM instructions into a single Souper instruction from different paths, we might end up with miscompilation.

Yes, I think folding should be part of Souper IR (if

[2018-02-26 05:43] regehr commented on #304
Ok, I just did a small experiment in removing the folding set from InstContext. This basically just works, there are some test case failures but I think they are expected. For example:

[code]
Here instruction synthesis is supposed to give "result %2" and instead of gives:
[code]
I didn't look at all of the failures but it's at least plausible that they are all like this.

Before we do this for re

[2018-02-26 05:45] regehr commented on #304
I'll add that this would be only the latest in a longish series of changes I've made to Peter's original design to make Souper IR more like LLVM IR, to better support performing complex optimizations in the Pass. For example, I disabled the n-ary operators in favor of binary operators, despite the fact that this restriction will result in some loss of optimization power.

[2018-02-26 20:58] regehr commented on #304
If anyone else wants to play, I made this branch:
https://github.com/regehr/souper/tree/no-folding-set
I'll fix up the test cases and do some experiments about resources usage.

[2018-02-26 21:14] regehr commented on #304
I'll add that sharing between the LHS and RHS isn't working out for us anyway, due to UB playing a different role on each side. So that particular kind of sharing is really not useful.

[2018-02-26 21:44] rsas commented on #304
I'm working on the separation of these two sides among other things. First, we need to separate the KLEE Expr generation from the rest in a clean way. This is tricky as there are many dependencies.

[2018-02-26 22:06] regehr commented on #304
@rsas, do you see any bad interactions between your changes and nuking the folding set?

[2018-02-27 02:05] regehr commented on #304
Ok, here is an example where turning off folding makes things worse, it's the synthesis result for test/Infer/HackersDelight/P9.opt:

[code]
We really don't want to see that repeated ashr. Any ideas for dealing with this? A bad solution would be to add a deduplication pass after synthesis. A better solution would be to avoid synthesizing this.

[2018-02-27 02:09] regehr commented on #304
@rsas, is there a constraint in the synthesizer where each instruction is used only once, that we could perhaps turn off, or something similarly easy?

[2018-02-27 04:32] regehr commented on #304
P7.opt and P8.opt have the same issue: synthesizing two instructions where one would do

[2018-02-27 04:34] regehr commented on #304
All tests pass in my branch now.

[2018-02-27 05:03] chenyang78 commented on #304
Nice! Thanks for the experiments. John. In terms of the synthesis result below:

[code]

It doesn't look like an optimal solution for the given the specification. Seems Souper's synthesizer doesn't take into account the number of a component. For example, for a given component, looks like the synthesizer is allowed to use any number of a valid component. If this is the case, perhaps we would let t

[2018-02-27 12:49] rsas commented on #304
Hi Yang, synthesis indeed starts with 0 components and increases the number of components as it proceeds. In this example it looks like the reconstruction of the candidate from the model references two different instructions somehow leading to this result. I rely on the folded set ID to reconstruct unique candidates and also to detect seen candidates for synthesis bug detection. For constraints it

[2018-02-27 19:27] chenyang78 commented on #304
@rsas I see. Thanks for the explanation.

[2018-02-28 00:29] regehr commented on #304
It seems clear that Souper is going to have to be more careful in how it treats phi nodes: it just isn't the case that two things that look alike must be the same. Ideas appreciated...

[2018-02-28 05:12] chenyang78 commented on #304
Argh, thanks for the example. Looks like we have to get back to the original proposal - what we need is perhaps some kind of information (path information or block information or something else) that could be used to separate these two optimizations, i.e. avoiding the interference of the first optimization on the second one. Note that we can't simply invalidate the second optimization, because it

[2018-02-28 05:42] rsas commented on #304
What about adding block predicates directly to the Phi inst instead to the Block?

Raimondas

[2018-02-28 06:26] regehr commented on #304
Can you sketch this out Raimondas? I'm having trouble picturing it.

[2018-02-28 06:47] rsas commented on #304
I have to see how the ID is calculated and what additional information we could add to make it unique. I thought about predicates controlling the path, not sure it would work.

Raimondas

[2018-02-28 14:50] regehr commented on #304
well, it would be good to find the right solution but for the moment I propose this fix:
https://github.com/google/souper/pull/306

[2018-02-28 17:43] chenyang78 commented on #304
@regehr Sounds good to me. Thanks.

[2018-02-28 17:47] regehr opened #307 "another nop issue"
Here's one that gets miscompiled by sclang -O2 with nop synthesis:
[code]
The program is defined and should print 0, but Souper makes it print 48.

Souper performs a single optimization which is, I believe, correct:
[code]
As long as Souper's optimization is correct then the problem will come down to LLVM having done something wrong that Souper is exposing. These are no fun to track down in genera

[2018-02-28 17:50] zhengyangl commented on #307
Sure.

[2018-03-01 21:55] zhengyangl commented on #307
I believe this transformation is wrong, it tries to transform

`if (d > 31 || (10 >> d))` into `if (10 >> d)`

[2018-03-01 22:03] zhengyangl commented on #307
Take %0 = 40 as example, %4 = false, %5 is true, %6 is true, in this case %4 != %6. I am trying to figure out why souper and alive thinks this transformation is valid.

[2018-03-01 22:04] regehr commented on #307
Can you post the full code before and after this one?

[2018-03-01 22:05] regehr commented on #307
If d == 40 then the behavior of the shift is undefined and any RHS is OK (as long as you don't use a short-circuiting ||, which isn't clear from the example).

[2018-03-01 22:05] regehr commented on #307
link to rise4run/Alive please!

[2018-03-01 22:06] zhengyangl commented on #307
IR Before Souper
[code]

[2018-03-01 22:07] zhengyangl commented on #307
IR After Souper
[code]

[2018-03-01 22:10] zhengyangl commented on #307
Permalink to rise4fun/alive: https://rise4fun.com/Alive/sl0

[2018-03-02 05:56] zhengyangl commented on #307
I found the error transformation in InstCombine, by disable this transformation, souper nop infer works correctly in this case.

[code]

[2018-03-02 06:02] regehr commented on #307
Great.  Please also disable the next one -- I can see it will cause the
same problem, and look for any more lowering of select to logic, which
will always cause this problem when the not-selected branch is poison.

John

On 3/1/18 10:56 PM, Zhengyang Liu wrote:

[2018-03-02 06:05] zhengyangl commented on #307
Note this transformation is not necessarily wrong, during the instcombine, the original select is erased and a new select is generated, and commenting out these lines only blocks the transformation on the generated one. I need time to figure out if any other transformation is illegal.

[2018-03-02 06:08] zhengyangl commented on #307
@regehr Sure.

[2018-03-02 08:16] nunoplopes commented on #307
@regehr There maybe half a dozen broken select-related optimizations. The good news is that all the other non-select-related optimizations were fine last time I checked.

[2018-03-02 14:34] regehr commented on #307
Thanks Nuno!

[2018-03-02 17:40] zhengyangl commented on #307
Thanks Nuno! John: What do you think about fixing this? How about add a patch and let update_deps.sh apply the patch after fetching llvm?

[2018-03-02 17:50] regehr commented on #307
Yes, exactly. You can do this in my llvm6 branch. Once you've patched out the select i1 -> logic transformations I'll resume stress-testing.

[2018-03-02 17:59] zhengyangl commented on #307
@regehr sure.

[2018-03-07 04:26] #304 closed

[2018-03-07 04:27] regehr commented on #307
Ok, we seem to have a working (but sucky) solution to this in a branch that'll get merged once LLVM 6 is released, so I'm going to go ahead and close. Of course the right answer is to fix LLVM.

[2018-03-07 04:27] #307 closed

[2018-03-07 06:10] regehr opened #308 "synthesis compile-time error"
As below.

[code]

[2018-03-07 06:11] regehr commented on #308
in other cases I can get a cttz to synthesize, so I'm not sure what's going on

[2018-03-07 16:17] regehr opened #309 "nop synthesis error: big query indicated a nop, but none was found"
[code]

[2018-03-07 17:34] regehr opened #311 "miscompile in llvm6 branch"
I'm testing my LLVM 6 branch where Zhengyang is working to disable problematic LLVM optimizations.

[code]

[2018-03-07 17:36] regehr commented on #311
Looks to me like another UB-related issue. @zhengyangl can you try to figure out if this is our fault or LLVM's?

[2018-03-07 17:37] zhengyangl commented on #311
Sure!

[2018-03-07 21:32] zhengyangl commented on #311
This is our fault. The alive encoded version of the optimization done by Souper:
[code]

[2018-03-07 21:35] zhengyangl commented on #311
Souper thinks the select in L4 is a nop. John: Is this what your said in last week's meeting, souper cannot deal with UB in a correct direction? Transformation from LHS -> RHS is wrong, but RHS->LHS is correct.

[2018-03-07 21:57] zhengyangl commented on #311
I can look into this issue and maybe adopt some code from alive to solve this.

[2018-03-07 23:06] regehr commented on #311
This is hard to fix and @rsas is working on it, so let's wait for his opinion here.

Something we should do is start adding some XFAIL tests for places where Souper doesn't get UB right -- this'll make that work easier once it gets going.

[2018-03-08 01:09] zhengyangl commented on #308
This error is weird, there is no traceback. I will look into it.

[2018-03-08 20:34] rsas commented on #311
I'm working on refactoring of KLEEBuilder at the moment, so we can address this issue next.

[2018-03-11 21:13] rsas commented on #309
Is there a reason ``findCands()`` includes constants into Guesses?

[2018-03-11 21:24] rsas commented on #309
One of the subexpressions is a Const Inst. It does not depend on any inputs (Vars) and therefore no other input can result in an other result. As a result, the BigQuery will be UNSAT.
We should modify findCands to not include Const Insts into Guesses, each guess must depend on some Var, otherwise we run into the same issue again!

[2018-03-11 21:45] regehr commented on #309
Ugh, yes, findCands() should definitely skip constants, thanks! I'll prepare a PR.

[2018-03-11 22:22] regehr commented on #309
Well, we definitely did not want to be guessing constants, but making that change does not fix our bug here.

[code]

[2018-03-11 22:27] regehr commented on #309
Branch is here: https://github.com/regehr/souper/tree/nop-fix

[2018-03-11 22:32] rsas commented on #309
Investigating.

[2018-03-11 22:42] regehr commented on #309
Slightly smaller LHS triggering this bug.

[code]

[2018-03-11 22:45] regehr commented on #309
If this LHS is still to large to debug easily, I can do some more csmithing and try to find a better trigger.

[2018-03-11 22:47] rsas commented on #309
No problem, I'll dissect the few subexpressions that return UNSAT in a moment.

[2018-03-12 20:19] rsas commented on #309
It looks like this bug has something to do with the UB conditions. The subexpressions of the Big Query (Guess_i != LHS) are not the same as created from the InstMapping in ``GetCandidateExprForReplacement``. Let's keep this bug report open until I'm done with my refactoring.

[2018-03-19 03:34] zhengyangl opened #318 "Another useless variable: ExprBuilderContext::InstMap"
I found this when I was trying to add the external use tagging support to the extractor, I believe this map variable is designed to cache the result Inst. But since there are no map insertions, this variable is useless. The only use of this variable is here:

https://github.com/google/souper/blob/8d8910b053b1d3128e538786e616ad91ba2eb10c/lib/Extractor/Candidates.cpp#L508

I've double checked there

[2018-03-19 03:37] regehr commented on #318
I think that is a good idea.

Please also take a look at VarInstsByWidth while you're here, and if that also needs to be removed, prepare a PR with both changes.

[2018-03-19 03:39] regehr commented on #318
Actually, wait. I believe map[v] is side-effecting, it adds an entry into the map. Perhaps that's what is intended here. Please look at this very carefully before proposing a change.

[2018-03-19 03:44] zhengyangl commented on #318
Oh, you're right.

[2018-03-19 03:44] zhengyangl commented on #318
I'll have a look at VarInstsByWidth.

[2018-03-19 03:49] zhengyangl commented on #318
The VarInstsByWidth works similarly to ExprBuilderContext::InstMap.

[2018-03-19 03:49] #318 closed

[2018-03-19 03:54] regehr commented on #318
Can you make a PR adding a quick comment at each of these places so we don't forget about this?

[2018-03-19 18:47] regehr commented on #301
Oops, closing the older one.

[2018-03-19 18:47] #289 closed

[2018-03-19 18:48] regehr opened #320 "another synthesis error"
[code]

[2018-04-11 17:28] elefthei opened #322 "Support for peep-hole memoization?"
Hello souper,

Is there support for automated peep-hole memoization? Assume for example the following code:

[code]

Here, an SMT solver will figure out only 0 <= a <= 20 will need to be computed and can create a lookup table in compile time for `fib()`. Is there support for this kind of optimization?

[2018-04-11 17:42] regehr commented on #322
We definitely don't support this, first since we don't support recursion (or function calls at all) and second since the synthesis problem here (selecting one of 20 constants) is larger than we can currently handle. My guess is that we won't resolve either of these in the near future.

Technical limitations aside, I'm overall not too optimistic about doing this sort of optimization in general with

[2018-04-11 19:40] elefthei commented on #322
Can you please give some context on why additional annotations would be required here?
An AST analysis of the main function (without symbolify-ing the recursive fib()) here would give an SMT expression for the if branch so that `a <= 20` like I said above.

What would the additional annotation say in this case?

[2018-04-11 20:14] regehr commented on #322
The annotation would tell the compiler that it should expend some effort trying to specialize this call using something like a lookup table.

[2018-04-17 21:17] fitzgen opened #323 "Operate on WebAssembly?"
I don't see any references to it anymore, but my understanding was that Souper supported not just LLVM IR but also MSVC's IR. With that in mind, I think it would be exciting if Souper also supported WebAssembly as an IR (potentially hinting to [binaryen](https://github.com/WebAssembly/binaryen) what optimizations it is missing).

Brief intro to WebAssembly for the uninitiated (from http://webassem

[2018-04-17 21:26] regehr commented on #323
I'll need to think about this, but I'll just note right now that Souper doesn't support MSVC, but rather MSVC IR and Souper IR are similar enough that Gratian at Microsoft wrote a quick MSVC->Souper translator and then manually implemented a bunch of optimizations that it discovered. Also, we recently learned that the Mono compiler people used Souper similarly! But I don't have much detail about t

[2018-04-20 16:08] regehr commented on #323
Ok, I thought about this a bit more.

The first issue is getting Souper to understand WebAssembly, this is less trivial than other cases due to the stack machine. On the other hand, a very nice thing about conversion to Souper is that you can stop whenever you want, for example because you run into something tricky. I've never written code to symbolically execute stack machine code to make it into

[2018-04-20 16:50] fitzgen commented on #323
Thanks for the thoughtful reply :)

One benefit I see of destackifying wasm into Souper IR is that experimentation developing that tool can happen out-of-tree and can move fast and loose.

Souper's ability to bail out on tricky constructs is nice, too. This enables incremental development, where we could get an MVP working and then start ratcheting up the percent wasm that is understood by the tra

[2018-04-20 17:04] regehr commented on #323
I have the same worry about size! Best we can do is give it a try, and maybe it'll turn out that re-stackifying the Souper output gets back the benefits?
Synthesis is a hard enough problem that I think it's worth exploring with Souper before doing more one-offs.
Random thought: I wonder if perhaps the webassembly typechecker/bytecode verifier/whatever contains the simple symbolic execution engine

[2018-04-20 17:35] kripken commented on #323
I agree this is definitely worth trying! I could look into creating a Binaryen pass to convert Binaryen IR to Souper IR, if that would be helpful? (Binaryen IR is almost identical to wasm, can be converted to and from it, and preserves size and performance aspects.) It might be simplest for me to convert to the Souper text format maybe, to get started?

About the size concern, yeah, that seems lik

[2018-04-20 17:50] regehr commented on #323
Alon, if you could hack something up that generates Souper text, this would be great! I'm happy to read code, play with crappy prototypes, etc. Also I'm happy to do the Souper runs (synthesizer can be finicky).

One thing to keep in mind is that one of Souper's most powerful features is its path conditions-- so if there's a way to generate those easily as part of the conversion, this will be espec

[2018-04-20 18:09] kripken commented on #323
Great! I'll see what I can hack up.

Is the [Souper paper](https://arxiv.org/abs/1711.04422) the best place for docs on the IR text format?

About path conditions, naively it seems like that should be easy since we know the conditions of conditional branches etc. But if we need to do stuff like forward conditions through multiple conditional branches etc. (if the condition is still true in them) t

[2018-04-20 18:15] regehr commented on #323
Argh we don't really have docs for Souper IR -- but it is really simple. I guess maybe ask me lots of questions and look at the test cases?
[code]

[2018-04-20 18:15] regehr commented on #323
Re. path conditions, extracting the condition from only the most recent branch is probably the way to go.

[2018-04-20 18:16] chenyang78 commented on #323
Sorry for chiming in on this :) Beside *.opt as John says, I think souper/InstRef.rst is a good place in terms of Souper IR. Otherwise, you may have to end up scanning the relevant code.

In terms of path condition (PC in Souper's terminology), I think knowing the conditions of conditional branches should be enough for the first version. You can skip the BlockPC part at the moment.

[2018-04-20 18:17] regehr commented on #323
Ah, regarding docs/InstRef.rst, let me take a look and make sure it's up to date, has not been touched for a quite a while.

[2018-04-20 19:04] kripken commented on #323
Thanks @regehr and @chenyang78, those look like what I need to get started!

[2018-04-22 17:59] kripken commented on #323
Ok, I wrote up something that seems like it's starting to have the right general shape for simple things. Feedback welcome! Code is in a `souper` branch in binaryen, the new pass is [here](https://github.com/WebAssembly/binaryen/blob/souper/src/passes/Souperify.cpp).

To try it, you can do something like
[code]
(`flatten` flattens the IR; `simplify-locals-nonesting` simplifies it while keeping it

[2018-04-22 19:25] regehr commented on #323
Awesome. Is there a particular C/C++ code base that is particularly representative that I should start with? Otherwise I'll just build a few random things.

So far I've been creating wasm by passing --target=wasm32 to clang, is that the right approach?

Indeed, Go's equivalent of InstCombine is quite weak so Souper will find a lot of stuff.

There's an interesting piece of this puzzle that I don't

[2018-04-22 21:46] kripken commented on #323
Hmm, some good samples are here: https://github.com/kripken/embenchen/tree/master/asm_v_wasm (that's output from the emscripten benchmark suite). In particular the larger ones like bullet, box2d, and lua, those are important real-world codebases I think.

In general yes, however it's worth running the binaryen optimizer on it too (`wasm-opt -Os input.wasm -o output.wasm`) as it will shrink it by 1

[2018-04-22 21:56] regehr commented on #323
Thanks Alon. I should have a bit of time this week to work on this!

[2018-04-23 03:02] kripken commented on #323
`pc` implemention added to that branch. Output looks like it might be correct, but I'm not sure :)

[2018-04-23 23:47] kripken commented on #323
@regehr thanks! I fixed those 3 things on the branch.

Output looks better now, but probably still a lot left to do to get it right. Also, to add operations aside from binaries (unaries, etc.)...

[2018-04-24 03:40] regehr commented on #323
Ok, great!
I'm now seeing two small issues.

First, while most LHSs have the proper var declarations there are also some degenerate LHSs that are just this, which makes Souper's parser barf:
[code]

Then second there's a common pattern of comparing the results of comparisons against zero using the wrong width as seen here:
[code]
Since Souper doesn't have any implicit sext/zext, it should be:
[cod

[2018-04-24 03:42] regehr commented on #323
As a random example, here's an optimization that Souper would like to perform.
LHS:
[code]
RHS:
[code]

[2018-04-24 17:35] kripken commented on #323
Exciting to see results already! And nice optimization it found there.

Those two issues should be fixed on the branch. Also added unary ops (cttz etc.).

[2018-04-24 21:33] regehr commented on #323
Ok!
Next two issues should also be easy:
- please use lshr/ashr instead of sshr/ushr
- blockpc doesn't get a label in Souper IR, so instead of:
[code]
we want:
[code]

[2018-04-24 21:58] regehr commented on #323
And here are a few more results:
https://gist.github.com/regehr/a428f164ae60ff783e5872d5efc5416e

To get these, I took wasm_lua_scimark.c.wasm and ran it through binaryen -O3, then ran the output through Souper in "constant synthesis" mode, where the only thing it does is tries to prove at the LHS is a constant.

I haven't gone and tracked these back to the wasm, so some of them could be artifacts

[2018-04-24 22:03] regehr commented on #323
You'll notice that sometimes the LHS contains far more context than is required to justify the optimization, making it harder to understand what's going on. I have a reducer for LHSs that I can run in the future.

[2018-04-24 23:31] kripken commented on #323
Thanks! Fixed those two minor issues on the branch.

About backtracking, I need to think about that - we have a DebugInfo mechanism that might work somehow, but it's not trivial to connect it. Looks like we definitely need a way to do that for debugging, though, as several of those results do look like my translation is wrong, for example the optimizer definitely knows that multiplying an integer

[2018-04-25 00:00] kripken commented on #323
To get something simple I added support for setting `BINARYEN_DEBUG_SOUPERIFY=1` in the env, then it prints each wasm expression before the souper one. However, it's not in a comment (no trivial way do that atm, I'll look into it) but worse it's printing the "flattened" IR, so it may not be useful enough for real debugging.

However, when trying to use this to debug those weird muls and adds, I th

[2018-04-25 02:55] regehr commented on #323
I'm getting an abort on the latest binaren/souperify:
[code]

[2018-04-25 02:56] regehr commented on #323
You're not misreading the gist, Souper legit thinks that there's a mul x, 0 in there. I'll get more details.

[2018-04-25 04:47] kripken commented on #323
Sorry about the abort - stability has decreased as I added more features (`select` etc.) - it's converting a lot more code now so it's hitting more corner cases. I pushed some bugfixes now, which fix `wasm_lua_scimark.c.wasm` and a bunch of other large codebases.

[2018-04-25 05:11] regehr commented on #323
OK! Still working with a wasm_lua_scimark.c.wasm that has been passed through binaryen -03, I now see only one species of souper error, a width mismatch on code like below. Since the result of a Souper comparison is i1, %4 should be extended to i32 before passing it into the phi node.

[code]

[2018-04-25 05:34] regehr commented on #323
Interesting-- most of the constant optimizations have now gone away, hopefully the missing ones were just the bogus ones!
See the remaining optimizations here:
https://gist.github.com/regehr/cd0d7a4c1f99226f4a78571bb72df0f4
Synthesizing instructions is slower, I'll start that going now.

[2018-04-25 14:53] kripken commented on #323
Ok, fixed that phi/i1 bug.

Looking at those latest optimizations,
[code]
That seems like it might be a bug in my phi generation, I'll look into it.

[2018-04-25 17:38] kripken commented on #323
Souper found something important there! :) It wasn't a bug in my phi generation, it was a real missing optimization. Fixed in https://github.com/WebAssembly/binaryen/pull/1512 (more details there) and also included in the `souper` branch.

After that, I don't see any more trivial phis with identical constant inputs (although, it's possible more exist due to a different cause somehow).

[2018-04-25 18:42] regehr commented on #323
Nice! I'll followup with results from synthesis, but probably after a delay since I have a trip later this week.

[2018-04-25 20:46] kripken commented on #323
@regehr when you get a chance, a question: I noticed I was halting LHS generation early on anything bad, like a function call, so I switched that to emit a `var` instead for such values. Now it's generating really huge LHSes for really huge functions, e.g. in `qt.wasm` some are thousands of lines long (!) Is there a practical size limit for LHSes that I should stop at?

[2018-04-26 01:42] regehr commented on #323
OK, the question "how big to make the LHS" gets into some thorny details.

Answer #1 is that you want the LHS as large as possible since this gives the solver the most information. In the simple cases -- constant synthesis and "nop synthesis" where the output is already available somewhere in the input graph -- this is always the right answer, unless it overloads the solver to the point where time

[2018-04-26 01:45] regehr commented on #323
Overall, of course, turning a Souper-stopper into a var, as opposed to bailing out entirely, is absolutely the correct answer.

[2018-04-26 04:03] regehr commented on #323
Randomly,  if you happen to have linkage info, there's no reason not to peek into called functions and get more instructions from there. It's one of many things I've wanted to try but haven't had time for. Perhaps it doesn't matter much once we've done a good job inlining, though. Certainly a bit of restraint would be called for, or else LHSs would become really big.

[2018-04-26 04:31] regehr commented on #323
Ok, keeping on going with that same .wasm file, here are the constants and nops:
https://gist.github.com/regehr/c86af851d60a75e04ce19e270bcfc554
I think some of these are actionable, but definitely not all.

At some point we should talk about undefined behavior. Souper is going by LLVM's rules, which are a bit looser than webassembly's, particularly for shift instructions. This will eventually giv

[2018-04-26 04:35] regehr commented on #323
One other thing: I'd like to compare the optimizations coming out of the .wasm files with the optimizations coming out of the corresponding .bc files. I don't see those in the embenchen repo, can you let me know where I might find them?

[2018-04-26 15:57] regehr commented on #323
Here are a few synthesis results:
https://gist.github.com/regehr/b7b990d7c49cec51e14c646660cfa240

And a few more things we should talk about:
- Some of these optimizations are probably legit, others will likely be spoiled by uses of intermediate values that aren't apparent in the Souper code that you generated. This is an issue that we have in LLVM as well. The solution we're working on is to mak

[2018-04-26 16:01] regehr commented on #323
One more thing: as I mentioned earlier, I have a minimizer for LHSs that pares them down to the smallest code that justifies the given optimization. Let me know if you'd like me to run this before giving you results. It will have the unfortunate effect of ruining the backtracking information that you put into the generated Souper, so perhaps it would make sense to present both minimized and non-mi

[2018-04-26 20:28] kripken commented on #323
Makes sense about the depth parameter, thanks, I'll look into adding that.

Very interesting point about inlining, it seems not too hard to look into called functions (up to a depth limit or such), if we keep around the DataFlow IR for them. Worth looking into, I agree.

I updated all the builds in https://github.com/kripken/embenchen/tree/master/asm_v_wasm , and now they also have the bitcode fil

[2018-04-26 20:43] kripken commented on #323
Hmm, I don't see that 24 + 36 = 60 thing on lua, so perhaps it was only there because of the phi issue that was just fixed?

[2018-04-26 22:41] regehr commented on #323
I'll rerun soon (but perhaps not until early next week, I'm leaving town early tomorrow).

Thanks for adding bitcode! It'll be really interesting comparing results across bitcode and wasm. I assume I can turn off inlining when I optimize wasm, to make it easier to map between the two?

Re. table-driven optimizers let's talk sometime. I think this is an important step forward in how we build these

[2018-04-27 00:53] kripken commented on #323
Those bitcode files are after LLVM inlining, but Binaryen may inline. To make it easy to map to the IR, I added a subdir `with_names` over there that has builds with function names in the binaries (which then show up in the `--souperify` output).

Sounds good!

I see now, thanks. Tricky, and, there are probably more such issues with wasm than with LLVM IR, as there are all kinds of structural effe

[2018-04-27 00:54] kripken commented on #323
Oh, and I added a depth limit env var, `BINARYEN_SOUPERIFY_DEPTH_LIMIT` (default 10).

[2018-04-27 22:14] kripken commented on #323
Added loop support: when there should be a `phi` at the top of a loop, a `var` is placed instead for correctness.

Before this change we just skipped functions with loops, so it is emitting a *lot* more LHSes now. I added a limit on the total instructions in an LHS, `BINARYEN_SOUPERIFY_TOTAL_LIMIT`, default to 30.

[2018-05-01 01:49] regehr commented on #323
Nice! For now I will not change the default settings of BINARYEN_SOUPERIFY_DEPTH_LIMIT or BINARYEN_SOUPERIFY_TOTAL_LIMIT, and I'll keep working with lua_scimark, and I'm using the wasmbackend version in the with_names subdirectory. Hope that all sounds good and let me know what I can do to help make the results below more actionable.

These are just constants and nops, I'll follow up with a versio

[2018-05-01 02:37] kripken commented on #323
Yeah, those add/sub pairs look very suspicious :) I wonder if it's not from lowering of GEPs that somehow isn't getting optimized. Oddly I can't seem to see them when I run something like
[code]

Btw, which `lua_scimark` is that? If it's https://github.com/kripken/embenchen/blob/master/asm_v_wasm/with_names/asm2wasm_lua_scimark.c.wasm (or another from that directory) then it should have names, and

[2018-05-01 02:46] regehr commented on #323
I used with_names/wasmbackend_lua_scimark.c.wasm, should I start again with the asm2wasm one?

[2018-05-01 02:48] regehr commented on #323
Is it OK for me to invoke wasm-opt just once, as you did, like this?
[code]
It isn't always clear to me how flags compose and I had been running it twice to make sure that the -O3 runs before the souperify.

[2018-05-01 02:49] kripken commented on #323
I see what's going on, yeah - if you ran two commands, then binaryen by default won't save function names (you need `-g` to preserve them). And yeah, it's fine to compose those things, `-O3`, `--souperify` etc. are all just passes (or lists of passes), run in order, so a single command like my example is fine too.

[2018-05-01 02:53] kripken commented on #323
And yeah, now I see those trivial add/sub pairs - they are in the wasmbackend versions, not the asm2wasm ones. E.g.
[code]

[2018-05-01 03:04] kripken commented on #323
And here's the relevant wast:
[code]
Looks like stack prologue/epilogue stuff - things added by the wasm backend, after LLVM IR.

I think that could be improved, but I'm not sure. Opened https://bugs.llvm.org/show_bug.cgi?id=37299

[2018-05-01 03:14] regehr commented on #323
Interesting!
I'll do the next synthesis run with instructions on the asm2wasm version.
Unfortunately it may not finish before I leave town again, and my current fastest machine that I use for synthesis happens to be at home, so it may be the weekend before I post results.
Let me know if it would be useful to do a constant/nop synthesis run on the asm2wasm version, I can turn that around quickly.
I

[2018-05-01 03:26] regehr commented on #323
Here's an example where we need to ask what the cost model should be. Souper wants to eliminate an instruction, but is that an appropriate optimization here?
[code]

[2018-05-01 05:44] regehr commented on #323
Some constants and nops:
https://gist.github.com/regehr/649c148d8c154b2550062d865b30a244
From:
[code]

[2018-05-01 05:51] regehr commented on #323
Does it seem weird that Souper gets 16k LHSs out of asm2wasm_lua_scimark.c.js.bc, but --souperify gets 200k LHSs out of asm2wasm_lua_scimark.c.wasm?

[2018-05-01 06:08] regehr commented on #323
Well, in the ongoing instruction synthesis run, I'm getting quite a bit of this. Something I'd like to do is make a custom cost function for Souper that closely mirrors the actual code size costs in the webassembly  binary format.

I gather that some of the sexts/zexts in --souperify output are zero-cost in the sense that they were added only to make Souper happy. One thing we might consider is ma

[2018-05-01 14:04] kripken commented on #323
Does "synthesis" mean stuff aside from const/nop?

In general results on the wasm backend are more important for the future (as we plan to switch to it from asm2wasm), however right now it is less optimized so more trivial stuff is possible there. But that's trivial stuff we need to fix ;)

Yeah, the cost model seems like it matters in that example. For code size, a `zext` of an `i1` is free in wa

[2018-05-01 15:28] regehr commented on #323
Yeah, sorry, "synthesis" means making new instructions that weren't there before.

The issue of cost models is one that we've spent a lot of time thinking about. I think the issues are basically the same for LLVM IR and WebAssembly. Options include:
- right now we just eyeball it, tweaking the model when synthesis comes up with something it shouldn't have. this is only minimally workable. LLVM has

[2018-05-03 00:59] kripken commented on #323
Interesting about the cost model. Yeah, sounds like a lot to do there.

Meanwhile I generated some LHSes that might be interesting, this is from a function in the entropy coder in the AV1 media codec, which is something they tell me is relevant for superoptimization:
https://gist.github.com/kripken/b5da8f8da6b3cb88de012aa24e3393ce Would be interesting if it finds any especially clever stuff there.

[2018-05-03 02:08] regehr commented on #323
Great! I'm traveling and won't do anything on this until the weekend unfortunately. Looking forward to seeing the new stuff. Instruction synthesis hadn't finished before I left home this morning argh.

[2018-05-06 16:29] regehr commented on #323
Results from the AV1 LHSs linked above:
https://gist.github.com/regehr/be7fd81ee4940086fcbf1fa3dd521fe0
The last one (with bswap) might be cute for processors where bswap isn't microcoded.

[2018-05-06 23:52] kripken commented on #323
Thanks!

Reading the lua synthesis results, one problem is that we tell Souper to infer the artificial instructions that we add just for legal reasons, like `zext`s and comparisons to zero for path conditions. I pushed an improvement to avoid that.

Another issue is that the cost of `zext` and `trunc` should be 0. Not inferring those instructions (last paragraph) will help but they can also appear

[2018-05-07 04:46] regehr commented on #323
Great, I'm glad we're at the point of worrying about these sorts of details.

The current Souper cost model is dead simple:
https://github.com/google/souper/blob/master/lib/Inst/Inst.cpp#L640

I'll make an alternate version that has cost of ext/trunc at 0.

Regarding external uses: empirically, the single-use restriction will be a serious one, though certainly we should pursue the low hanging frui

[2018-05-07 04:55] regehr commented on #323
Using the latest binaryen, I've just kicked off a synthesis run for these LHSs:
[code]

; start LHS (in $free)
%0:i32 = var
%1:i32 = var
; (i32.ne(get_local $36)(get_local $2))
%2 = ne %0, %0
infer %2

; RHS inferred successfully
result 0:i1

[2018-05-07 17:10] regehr commented on #323
OK, feel free to generate Souper that looks like this:
[code]
We'll modify synthesis to treat externally used values as fixed, and not try to replace them.
Please keep in mind that:
- checking for a single use is not the right algorithm, since many values have multiple uses that are captured by the Souper LHS; we really want to only mark values that have uses that are not visible in the Souper cod

[2018-05-07 21:25] regehr commented on #323
Great! I'll kick off a new synthesis run tonight but then I'm leaving town tomorrow so it'll be the weekend again before I see the results (maybe I should poke holes in my home firewall but I don't really want to).

[2018-05-14 15:59] regehr commented on #323
here are a few synthesis results from wasmbackend_bullet.wasm:
https://gist.github.com/regehr/2378313b8b4ed859948341e79c375eeb

[2018-05-14 16:05] regehr commented on #323
Also here's souper's cache dump of the same information (which I find easier to read without the webasm noise): https://gist.github.com/regehr/152b5e8359509c52a6c36829506d9d05

[2018-05-15 03:02] kripken commented on #323
Thanks!

Seeing some trivial stuff that shouldn't be there, I found that the single-use calculation was actually wrong - it ignored uses in things like stores and calls. Fixed, hopefully now it's correct.

[2018-05-26 23:32] kripken commented on #323
`--souperify` now emits `(hasExternalUses)` when relevant. This required some redesign of the IR to properly handle a single wasm instruction that turns into multiple Souper instructions, etc.

(`--souperify-single-use` still exists, and should never emit that notation, which is useful for fuzzing)

I think that's all I had on my list of stuff to fix.

[2018-05-29 14:47] regehr commented on #323
Thanks! I'll post some new synthesis results soon.

[2018-06-20 03:50] #309 closed

[2018-06-20 03:52] regehr opened #333 "big query indicated a nop, but none was found"
When Souper look for nops, it batches up the possibilities and issues a single solver query looking for the existence of a nop. If none of them work (the expected case by far) then we're done. If a nop is detected, with an unsat result, we don't know which nop is the one that worked, so we have to go and look at each one individually. If none is found, then there must be a bug in the way we aggreg

[2018-07-02 20:17] LebedevRI opened #334 "Are utils/ bitrot?"
`cache_dump` does not work out-of-the box
[code]
`souper2llvm` seems to always generate invalid IR
Is there some other tools that are supposed to be used?

[2018-07-02 22:20] regehr commented on #334
cache_dump works out of the box for me, I was just using it yesterday. You'll need to provide standard bug report information (your platform details, steps to reproduce, observed output, etc.) for us to figure out why it isn't working for you.

souper2llvm is more of a research tool and not really something that we want to support, and it contains a bunch of known bugs. I'd suggest not relying on

[2018-07-03 20:17] rsas commented on #334
Hi @LebedevRI, as mentioned by @regehr, ``souper2llvm`` was created a while ago for testing purposes and was not updated/maintained since. It should not be difficult to update/fix it. Contributions are very welcome.

[2018-07-03 20:35] LebedevRI commented on #334
That is interesting. The reproduction steps are trivial.
1. This is debian sid, fully updated.
[code]
2. Clone this repo. (i'm at b41a0944c0f0c5b106c71f0ba390290f6ef07b2c)
3. Run `$ ./build_deps.sh` without arguments
4. `$ mkdir souper_build && cd souper_build && cmake -DTEST_SOLVER="-z3-path=/usr/bin/z3" -GNinja ../ && ninja`
5. `$ redis-cli flushall`
6. Build something with `sclang` with `SOUPER

[2018-07-03 21:31] LebedevRI commented on #334
No, i totally understand. Thank you for working on this amazingly unique software!

I'll double-check tomorrow, but i don't think so.

[2018-07-03 21:42] regehr commented on #334
Thanks. Also we'd love to hear what you're using Souper for, and might be able to help out somehow.

Note that synthesis and (even more so) pass support for synthesis is an active area of work for us and we may be able to help if we know more.

[2018-07-03 21:46] LebedevRI commented on #334
Thanks. Nothing earth-shattering.
Basically the same as https://blog.regehr.org/archives/1192 - build [some project](https://github.com/darktable-org/rawspeed) i care about with Souper,
analyze the results, possibly try to implement some low hanging fruits/missing optimizations in LLVM.

[2018-07-03 21:57] regehr commented on #334
Nice. Synthesizing optimizations turns out to be pretty sensitive to choice of command line options. @rsas did 100% of the synthesis work and may be able to help out.

[2018-07-04 12:55] LebedevRI commented on #334
Uhm, this is weird. I have re-done everything from scratch, like i did the first time,
but the `cache_dump` problem no longer reproduces. I'm thinking it may be causable
by killing of the sclang/built binary w/ dynamic profiles.
No point in keeping this open, at least now.

Thanks everyone.

[2018-07-04 12:55] #334 closed

[2018-07-05 00:53] regehr commented on #334
That is weird. But also I realized that I haven't used dynamic profiling for quite a while and I should try it more, I'm not sure that code is all that robust.

Keep in mind also that there are some limits to Souper's static and dynamic profiling: they are tracking the popularity of specific souper optimizations, which may or may not correlate well (often not) with the usefulness of the (usually)

[2018-07-05 20:34] rsas commented on #333
Alive says this optimization is wrong:

[code]

The "big nop" query is not correct in this case.

[2018-07-28 12:33] xbolva00 opened #336 "Missed optimizations report for sclang"
Hello,

I compiled some my projects with sclang and I would like to show missed LLVM optimizations. I was unable to do it. SOURCE_STATS enables only LLVM stats, right?

I compared Clang built binary with SClang built one, and binary was a bit smaller, so something was done. I would like to see that souper report :)

[2018-09-03 03:09] zhengyangl opened #339 "ReplacementContext::printInst does not display single consts"
This is rather a minor issue, but might cause confusion in future development.

A little bit context: ReplacementContext::printInst() is designed in a recursive way: Each call to the function returns the "name" of the instruction and dump the input inst on the screen. If the instruction has operands, then call the function it self with each operand input, dump the operands, then with the name of t

[2018-09-03 16:42] regehr commented on #339
yeah I've run into this too.
I don't think we should change anything by default, since this will reduce the compactness of souper IR and increase the size of the redis DB, but if you want to print the alternate version when a specific flag is provided, that seems reasonable.
also you would need to decide if you want to parse the alternate format, or if it is print-only

[2018-09-03 20:33] zhengyangl commented on #339
@regehr Yeah sure, I agree with you for not making any change on grammar. I think something like dump() within Souper::Inst itself may be a good choice for debug use.

[2018-09-15 05:25] regehr opened #341 "cost model issue in synthesis?"
this is for @rsas
I think @manasij7479  found a bug in how synthesis deals with costs

Here's an optimization:
[code]

But souper cannot re-infer the RHS:
[code]

However, it can find the RHS if we tell synthesis to ignore the cost model. Any ideas? This might not be very high priority compared to other stuff you're working on...

[2018-09-15 17:07] ZaMaZaN4iK opened #343 "Fixing different Clang-Tidy warnings"
Hello.

I ran clang-tidy on souper project and found a lot of different warnings. Are you welcome any PRs with fixing warnings?

[2018-09-15 22:17] regehr commented on #343
Hi! I think that we do not want a lot of smallish changes right now, we have a lot of branches in flight and this would make merges challenging. Of course, if there are significant bugs to fix, that is a different matter and we'd love to have patches.

[2018-09-15 22:28] ZaMaZaN4iK commented on #343
Ok. Understood. I didn't find yet any critical changes by clang-tidy or other static analyzers. Maybe in the future will be fine to connect Coverity to the repo. Also I find in Souper some parsers, which would be fine to test with fuzzers. Of course, if I will find anything important - I will send a PR.

P.S. Btw, @regehr is your email from the [page](http://www.cs.utah.edu/~regehr/#contact) still

[2018-09-16 06:18] manasij7479 commented on #341
Found another potential instance of this in https://github.com/google/souper/pull/344
For the test/Pass/syn-inst-ctpop.ll, an RHS with an equal cost to the LHS is not synthesized without  -souper-synthesis-ignore-cost

[2018-09-16 15:55] regehr commented on #341
@manasij7479 I don't think that's a bug, the RHS will only be reported if it has lower cost than the LHS

[2018-09-27 01:30] manasij7479 commented on #341
The following example shows the same issue:

define i1 @syn_ne(i32 %x, i32 %y) #0 {
  %a = icmp eq i32 %x, %y
  %b = xor i1 %a, true
  ; CHECK: icmp ne i32
  ret i1 %b
}

(Runline is %opt -load %pass -souper -dce %solver -souper-infer-inst -souper-synthesis-ignore-cost -souper-synthesis-comps=ne,eq,ule,sle,ult,slt -S -o - %s )

[2018-10-02 19:16] regehr commented on #311
@rsas can you update on the status of this? we're slowly removing roadblocks for the "actually replace InstCombine" project and this is going to be a problem for us there

[2018-10-02 20:16] zhengyangl commented on #308
This still happens, I saw something similar to this.

[2018-10-02 22:11] rsas commented on #311
I'll have to recall the problem and the current state first, then I can comment more

[2018-10-02 22:33] regehr commented on #311
I don't know the current state in detail, but the issue is that souper is willing to turn a select into logic. this is most easily seen for the i1 case, see Section 3.4 here: http://www.cs.utah.edu/~regehr/papers/undef-pldi17.pdf
this can introduce UB into a well-defined program, leading to a miscompile

[2018-10-02 22:34] regehr commented on #311
I'm specifically asking about this one since from the point of view of doing experiments to support a souper paper, this one is likely a showstopper and also probably cannot be easily attacked by anyone besides you!

[2018-10-05 03:51] regehr opened #364 "sclang bug"
this is messing up autoconf

$ clang -print-prog-name=ld
/usr/bin/ld
$ sclang -print-prog-name=ld
/usr/bin/ld
/usr/bin/ld
$
[code]

[2018-10-05 04:03] regehr commented on #364
ah it's a side effect of the SOUPER_SAVE_BITCODE option, which I must have implemented sloppily

[2018-10-05 04:09] regehr commented on #364
https://github.com/google/souper/pull/365

[2018-10-05 04:10] #364 closed

[2018-11-06 01:51] manasij7479 opened #376 "UNREACHABLE executed with this example"
Affects current master branch.

Invocation : ./build/souper-check --z3-path="/usr/bin/z3" -reinfer-rhs -souper-infer-inst -souper-exhaustive-synthesis

%X:i8 = var
%Op0 = udiv %X, 13
%r = udiv %Op0, 14
infer %r
%r2 = udiv %X, 182
result %r2

The crash comes from KLEEBuilder.
UNREACHABLE executed at lib/Extractor/KLEEBuilder.cpp:366!
(udiv is implemented in KLEEBuilder, this should not crash.)

[2018-11-06 03:38] regehr commented on #376
@rsas do you know what's happening here?

[2018-12-12 08:01] manasij7479 opened #395 "Crash when cost values are multiplied by a constant"
The following sanity check in InstSythesis.cpp fails:
  // Sanity checks
  if (Ops.size() == 2 && Ops[0]->K == Inst::Const && Ops[1]->K == Inst::Const)
    report_fatal_error("inst operands are constants!");

Also, test/Infer/constrain-invalid-wiring.opt seems not to terminate in ~20 mins.

These can be reproduced by multiplying all the cost constants in Inst::getCost with a constant like 2 or 3.

[2018-12-27 07:20] LebedevRI opened #397 "Missed optimizations for [s->z]ext, mul->shl"
Not sure if there is a point in reporting this, just in case.
https://godbolt.org/z/TBlsDN
First is the original C++ code; second is souper output (from `SOUPER_EXHAUSTIVE_SYNTHESIS`); third is further hand-tuned IR.
* It did not seem to try to replace `%5 = sext i8 %4 to i16` with `%5 = zext i8 %4 to i16`
* `%6 = mul i16 %5, 256` should be `%6 = shl i16 %5, 8`

[2018-12-27 07:35] manasij7479 commented on #397
This is a known issue with our current cost model.
These options ( -souper-infer-inst -souper-synthesis-ignore-cost ) without the exhaustive synthesis flag should get the transformations you report.

@regehr  Can we keep this issue open until we get the cost model right?

[2018-12-30 21:29] LebedevRI opened #398 "Maybe `reduce` should understand when LLVM avoids the smaller sample?"
Souper gives me this:
[code]
makes sense, the dst is smaller.
But if we plug it into llvm: https://godbolt.org/z/qmtduo
we can see that it intentionally *avoids* the smallest variant.
Perhaps `./cache_dump -reduce` should notice this and not report this as an optimization?

[2019-01-01 21:31] regehr commented on #398
yeah, -reduce is in need of some love
when I wrote it, souper could only synthesize constants, which meant that the reducer could do pretty much whatever it wanted. since that is no longer the case, it needs to be taught to leave the RHS alone. I don't have time in the immediate future.

[2019-01-02 20:49] LebedevRI opened #400 "KLEEBuilder is recursive"
With any sample larger than just a few instructions, `-souper-infer-inst` now _often_ run out of stack.
[test.ll.txt](https://github.com/google/souper/files/2722002/test.ll.txt)

[code]
[code]

[2019-01-02 21:01] regehr commented on #400
yep it's a known issue, @rsas has a z3 builder that directly interacts with z3, but hasn't had time to finish it up. we're also working on switching to alive2 as a backend for souper but that is also going slowly (how is it going, @manasij7479?)

[2019-01-02 21:07] LebedevRI commented on #400
Sorry for again reporting such unactionable issues :/
I'd like to help if i can; i'm just not sure i can help, there'd need to be some low-ish-handing fruit to get familiar with the codebases, and i don't see those yet.

[2019-01-02 21:35] manasij7479 commented on #400
Haven't worked on that the last few weeks. Will get to it after the paper is in good shape.

[2019-01-03 00:50] regehr commented on #400
You should give this high priority.

[2019-01-03 00:51] regehr commented on #400
There actually is some low-hanging Souper fruit -- adding support for some of the newer intrinsics: funnel shifts and saturating arithmetic (there may be more that I'm not aware of).

[2019-01-10 18:59] LebedevRI commented on #400
Check.

I would like to take a look at that (at least at some of it, don't want to leave others with nothing to do :) ),
but I do believe all that is llvm-8, so too soon for that.

Possibly? Not sure, would need to sit down and cross-reference.

[2019-01-27 22:38] zhengyangl opened #425 "Exhaustive Synthesis and Nop Synthesis takes x.with.overflow as inputs"
This leads to the crash of the following program
[code]

[2019-01-27 22:50] #425 closed

[2019-02-05 02:40] zhengyangl opened #432 "Miscompilation caused by missing support of DemandedBits hashing in Inst::Profile()"
The bug is causing following reduced program outputs "checksum = 0", when compiled with "sclang -O3"
[code]
The correct output should be "checksum = 3"

[2019-02-05 16:10] #432 closed

[2019-02-06 16:03] LebedevRI opened #438 "Smaller constant inferring"
_Originally posted by @regehr in https://github.com/google/souper/pull/406_

I now have another sample of this issue.

Consider: https://godbolt.org/z/8DxzSi
[code]

We can transition into fixed-point domain.
This way we avoid the floating point, the `lround()` call.
That is a valid transform, _provided_ `10 * x` does not overflow:
[code]
[code]

Given the `yy()`, souper is unable to improve it:
[

[2019-02-06 16:51] regehr commented on #438
Hi Roman! We're very interested in fixed point issues, this is definitely a case where Souper should be able to do well. It's not something I know a lot about so would love to see more examples like this, and maybe talk about this some.

But a few things about this example. First, two multiplies and a divide makes this a really difficult example to work with, as I think you also observed before re

[2019-02-06 16:52] regehr commented on #438
Also, what do you think of this?
[code]

[2019-02-06 17:33] LebedevRI commented on #438
Unfortunately, offhand, i don't have any more good samples like this one.
But they are all roughly the same - multiply by scale, do computations, optionally add half (or a whole) scale, divide by scale.

:)

Interesting..

[2019-02-26 02:18] 360CodeSafe opened #473 "An uninitialized pointer used as argument"
Hi all,
There is an uninitialized pointer used as argument issue found by Qihoo360 CodeSafe Team.
Details as bellow:

pointer 'ctx' is declared here:
https://github.com/google/souper/blob/f56ef7af910385fa0b1ff783ee4883455dd93409/runtime/souperPassProfile.c#L66

in line 78, pointer 'ctx' is used as argument while calling function 'redisCommand()' without initialized.
https://github.com/google/soupe

[2019-02-26 09:38] LebedevRI commented on #473
This looks bogus,
https://github.com/google/souper/blob/f56ef7af910385fa0b1ff783ee4883455dd93409/runtime/souperPassProfile.c#L64-L68
and line 78 is only reached if `!(to_stdout || to_stderr)`

[2019-02-26 09:57] 360CodeSafe commented on #473
It is true that the condition to reach this issue is very difficult.
but it still is a good style to write code like:
[code]

[2019-02-28 21:57] LebedevRI commented on #334
I was wondering, is there some long-term pre-existing plan for such utility?
Will there be some deeper integration with alive2,
in the sense that such tool should be provided by alive2?
If not, would it perhaps make more sense to re-write this util as a more proper tool (using LLVM API?), possibly with tests?

[2019-02-28 22:19] manasij7479 commented on #334
I have one potential use case for such an API, especially if it was reasonably fast and could generate LLVM Functions from Souper instructions in-process.
It would give us a nice way of calling LLVM analysis functions (computeKnownBits) and passes (LVI? SCEV?). I am implementing some of this on Souper IR, but that approach doesn't scale. It would also become necessary once we start dealing with me

[2019-02-28 23:04] regehr commented on #334
Hi Roman... souper2llvm is an interesting case. It has served uses for us (and continues to) but really it's the wrong approach to do this all in a separate language. If we want to move forward with this tool, my inclination would be to start with the LLVM-building code that we already have in the opt pass and extend that to be more generally useful and powerful. With that said, I'm not sure if we

[2019-03-01 07:20] LebedevRI commented on #334
In my mind, there is no question whether that tool is useful or not.
It is already used by `cache_dump`. That is my main interest, and main unscratched itch,
to have a sane way to comb through the souper opts, filter only these LLVM does not know about.

Can't say anything about fast (i wouldn't think it will necessarily be horrendously slow?), but sure,
splitting the implementation so that it can

[2019-03-01 20:53] pranavk opened #486 "sclang crash - inst operands are constants!"
Here's a reduced file (reduced using creduce)

[code]

Compile like this:
`./sclang -c -O3 -mllvm -souper-synthesis-comps=add,sub -mllvm -souper-infer-inst /tmp/tmp.c`

[2019-03-01 22:09] pranavk opened #487 "sclang crash - error in backend: no input available for 1_1"
Compiling following program with:

`./sclang -mllvm -souper-infer-inst -mllvm -souper-synthesis-comps=bitreverse -c -O2 /tmp/tmp.c`

[code]

Make sure to flush your redis cache before executing the command.

[2019-03-01 22:12] LebedevRI commented on #487
Random thought: is the error coming from alive?

[2019-03-01 22:16] pranavk commented on #487
shouldn't be. I am not using the alive backend in the command line. Alive backend only gets used with `-souper-use-alive`.

[2019-03-01 22:37] regehr commented on #487
@pranavk usually we just run commands standalone using SOUPER_NO_EXTERNAL_CACHE=1 to avoid redis interactions

[2019-03-01 22:38] pranavk commented on #487
oh. good to know. I was flushing my cache everytime until now. Will make use of this from now

[2019-03-02 09:39] LebedevRI opened #491 "Dependency cycles between libs"
Seem like a recent-ish regression
[code]
Also, `CMakeLists.txt` is a mess, i'm not sure i can fix this issue without reshuffling it all..

[2019-03-02 10:51] manasij7479 commented on #491
Feel free to improve CMakeLists,txt

[2019-03-02 16:26] #491 closed

[2019-03-02 21:45] LebedevRI commented on #334
Oh, i almost missed this, souper already can produce llvm ir, via `SouperPass::getValue()`.
Naturally, that won't produce the whole module though.

[2019-03-02 21:48] regehr commented on #334
yes, I think the question is whether it makes sense to factor that code out, so it can be used by both the pass and also the souper2llvm utility

the missing code (create a module with an empty function etc.) is pretty straightforward

converting souper without phi, path conditions, and blockpc into LLVM also seems very easy

converting phi, path conditions, and blockpc into LLVM Ir seems quite a

[2019-03-02 21:50] LebedevRI commented on #334
It does, because currently `souper2llvm` is broken (:
It is likely best to have one common path rather than having a perl script that _tries_ to
convert textual souper into llvm ir.

[2019-03-04 20:08] LebedevRI opened #502 "inst_tests sometimes crashes"
On master (d6a32ea5ce65de9e96e95f8a5eb2589a5dc970bc).
Not always, maybe 1 out of 10 times. This is with souper itself built with `-O3`.
(souper and third_party deps built with same compiler.)
[code]

[2019-03-04 20:09] regehr commented on #502
thanks!
I've seen this too.
I really hate non-deterministic crashes, what even causes this, I guess a memory safety error + ASLR?
I guess valgrind / asan are our friends here

[2019-03-04 20:11] LebedevRI commented on #502
I have not done any digging. Just noticed and thought it was caused by my wip code but apparently no.

[2019-03-04 20:19] manasij7479 commented on #502
I think the crash will go away if findKnownBits is tested with just
operations on constants.
But that wouldn't really solve whatever the underlying issue is.

On Mon, Mar 4, 2019 at 1:11 PM Roman Lebedev <notifications@github.com>
wrote:

[2019-03-05 03:16] regehr commented on #502
I can't find any problems with valgrind

[2019-03-10 10:39] MaxGraey commented on #157
Could souper simpilfy [all int sign variants](https://github.com/google/souper/issues/157#issuecomment-71953566) to:

[code]
Which usual optimal for all platforms?

[2019-04-17 03:59] #400 closed

[2019-05-31 13:54] curiousleo opened #551 "Document additional build prerequisites"
- `alive2` requires `re2c`.
- `llvm` is pulled down via `svn`.

Solution: add `re2c` and `svn` to the prerequisites documented in the README.

[2019-06-26 21:46] zhengyangl opened #552 "Name Duplication: ExprBuilder"
We got two ExprBuilders, one is https://github.com/google/souper/blob/f80c7990ef83d0eec529deabbbbd53a08929cb04/include/souper/Extractor/ExprBuilder.h#L24

and one is
https://github.com/google/souper/blob/f80c7990ef83d0eec529deabbbbd53a08929cb04/lib/Extractor/Candidates.cpp#L117

This might cause confusion. I would suggest that rename the second ExprBuilder to  InstBuilder.

[2019-06-26 21:52] jubitaneja commented on #552
Agree, @zhengyangl

[2019-06-28 03:16] mshockwave opened #553 "Incorrect handling on intrinsic arguments"
Hi,

In [line 535](https://github.com/google/souper/blob/master/lib/Extractor/Candidates.cpp#L535) of `lib/Extractor/Candidates.cpp`, not every intrinsic functions have at least one argument. Thus sometime it will crash due to out-of-bound argument fetching.

I think we should be more generalized here by either checking the amount of operands or fetching intrinsic arguments only when needed.

Than

[2019-06-28 04:24] manasij7479 commented on #553
Good catch, thanks.
Feel free to send a PR.

[2019-06-28 18:26] mshockwave commented on #553
@manasij7479  thanks, I've just sent a PR

[2019-06-28 19:27] regehr commented on #553
thanks!! we'll review soon.

[2019-07-18 20:35] mshockwave opened #555 "Inconsistent error handling between souper and souperPass"
Hi,
From implementation of `souper::SolveCandidateMap`, we know that upon catching error returning from solver, the function will just bail out by returning false ([code](https://github.com/google/souper/blob/master/lib/Tool/CandidateMapUtils.cpp#L89)).
However, in `SouperPass`, it will bail out the entire process only if the error returning from solver is neither timed out nor "value too large" (

[2019-08-06 21:16] mateon1 commented on #333
This issue bit me when using sclang to compile a program.

Original oops:
[code]

Reduced:
[code]

I think this example is clearer.

[2019-08-27 12:44] mshockwave opened #561 "Handling replaced instructions that failed the dominance checks"
Hi,
In SouperPass, if a RHS replacement already has Origins (i.e. associated LLVM Values), the pass will try to reuse it. Before applying the replacement LLVM Instructions, it will [check if the Instructions dominate our replacement point](https://github.com/google/souper/blob/master/lib/Pass/Pass.cpp#L185).
However, if it fails, it will just bail out the whole process and return an replacement fa

[2019-08-27 19:52] mshockwave opened #562 "Incorrect switch case fall through"
Hi,
The `getValue` function in souperPass (lib/Pass/Pass.cpp) try to recursively generate corresponding LLVM IR instructions for a fragment of souper IR. However, in the case where it try to [handle two-operand souper Inst](https://github.com/google/souper/blob/master/lib/Pass/Pass.cpp#L241), it doesn't close the case with a *break* statement.
Thus, if an operand Inst is not supported (i.e. cannot

[2019-09-09 17:52] #553 closed

[2019-09-19 20:38] jianguda opened #605 "[seek help] fail to build dependencies at macOS"
Hey, I am following `README.md` to build souper locally, but fail at the very first step.

I run `./build_deps.sh` and here is the last part of my build log:
[code]

Could you please give me some advice? Thanks!

[2019-09-19 20:40] jianguda commented on #605
In case it helps:
my LLC's version is 8.0.1
my GCC's version is 9.2.0
my CMake's version is 3.15.3

[2019-09-19 20:42] manasij7479 commented on #605
Hi, you need to install re2c.
If you use brew: https://brewformulas.org/Re2c
You can also build and install it yourself: https://re2c.org/install/install.html

[2019-09-20 05:43] jianguda commented on #605
Thanks! It works!

[2019-09-20 05:43] #605 closed

[2019-09-29 20:51] mateon1 commented on #486
The issue is that "junk removal" simplifies a synthesized instruction down to a constant, which later hits the sanity check.
Here's an example: (not at all minified)
[code]

Needs `-souper-synthesis-comps=const,sub,xor`, but this can be triggered without a `const` component! I just lost that case in the scrollback among thousands of lines of debug output, and it takes a good half hour to manifest

[2019-09-29 21:33] regehr commented on #486
this is a weird one since if the result is just a constant, we should have synthesized that first, before trying to synthesize any instructions. not sure why that didn't work here. @rsas do you know what's up here?

[2019-09-30 08:23] mateon1 commented on #486
This seems to be some mismatch between the solver constraints at synthesis and at counterexample checking, the IR within this method hits some edge-case where the synthesizer wants to synthesize a constant, but then the counterexample query just returns zeros for all vars. After I disable the "inst operands are constants" check, I often see 50+ refinements before synthesis gives up for that iterat

[2019-09-30 08:55] mateon1 commented on #486
I think I see the issue (but not 100% certain since I don't fully understand the synthesis constraints). At synthesis, `blockpred` constants decide which path is taken at each `phi` node, BUT - the solver can choose ANY blockpreds at synthesis - they are not part of the inputs/counterexamples, so if the result is a phi node that chooses between a computation and a constant, the synthesizer will AL

[2019-10-07 23:57] zhengyangl opened #613 "getValue() bug"
The getValue() in Pass.cpp can't tell whether a value comes from existing values from LHS or from the newly synthesized instructions. The getValue() creates a new LLVM value for each instruction in RHS, even when the instruction is harvested as cand from LHS. This brings the dup instructions in the result IR. When the cand contains phi, souper crashes.

I'll get it fixed soon.

[2019-10-08 15:46] regehr commented on #613
yes, this totally makes sense, I wrote that code at a time when CEGIS was incapable of reusing LHS components on the RHS, but did not think to document this silly limitation. thanks!

[2019-10-09 05:10] zhengyangl opened #616 "Constant Synthesize failure"
Opened this issue just for reference.

Constant synthesis cannot handle the following opt.

[code]

[2019-10-09 23:12] #616 closed

[2019-10-19 23:17] shrin18 opened #627 "In order to run /lib/Pass/Pass.cpp seperately flags required ?"
We are trying to get successful candidates for .opt file and later get them in .ll What flags shoudl we pass in pass.cpp inside lib/Pass/Pass.cpp in order to achieve this. Thanks!

[2019-10-20 04:20] regehr commented on #627
Hi!
Based on this description, I have no clue at all what you are trying to accomplish using Souper, please provide significantly more detail, and then we'll try to answer.

[2019-10-21 14:35] #627 closed

[2019-10-26 00:46] pranavk opened #629 "bug in dataflow analysis"
[code]

./souper-interpret $SOUPER_SOLVER bug.opt -input-values=%0=0,%1=0

[2019-10-28 15:21] shrin18 commented on #323
is there any reliable way to convert .opt to .ll

[2019-10-28 17:59] regehr commented on #323
@shrin18 please explain in more detail what you want to do

[2019-10-28 20:08] pranavk opened #631 "Bug in funnel shift abstract interpreter functions"
Before we forget about it, let me file an issue for this.

[code]

This code in AbstractInterpreter.cpp looks incorrect.

LangRef for fshl:
"and the most significant bits are extracted to produce a result"

And trunc removes the most significant bits. LangRef for trunc says:
"The ‘trunc’ instruction truncates the high order bits in value "

[2019-10-28 20:27] pranavk opened #632 "crash in interpreter_tests"
There's a crash in `interpreter_tests` in current master caused by #608

I tried looking at it for some time but couldn't figure out what's going on.

@manasij7479 you may have better idea what's going on here.

This is the assertion failure:

```interpreter_tests: /mnt/ssd/souper-master/lib/Inst/Inst.cpp:538: void souper::Inst::Profile(llvm::FoldingSetNodeID&) const: Assertion `0 && "Var instruct

[2019-10-29 08:43] shrin18 commented on #323
Sorry @regehr .

1. __`*.wat`__`(WASM text format)` →  __`*.o`__`(WASM binary file)`
2. __`*.o`__`(WASM binary file)` → __`*.bc`__`(LLVM bitcode file)`
3. __`*.bc`__`(LLVM bitcode file)` → __`*.opt`__`(souper candidates)`
4. __`*.opt`__`(souper candidates)` → __`*.ll`__`(LLVM IR)`
5. __`*.ll`__`(LLVM IR)` → __`*.o`__`(WASM binary file)`

We are implementing this pipeline. We can get all the steps

[2019-11-01 14:57] shrin18 commented on #323
when we use `BINARYEN_DEBUG_SOUPERIFY=1 ~/binaryen/build/bin/wasm-opt wasmbackend_bullet.wasm -O3 --flatten --simplify-locals-nonesting --souperify-single-use` we get LHS  for eg `; start LHS (in $0)
%0:i32 = var
%1:i32 = var
%2 = shl %1, 4:i32
%3 = add %0, %2 (hasExternalUses)
%4:i32 = var
%5 = sub %3, %4
%6 = add %5, 15:i32
%7 = add %3, 16:i32
%8 = ult %4, %7
%9 = sle 0:i32, %1
pc %8 1:i1
pc %9

[2019-11-05 21:50] #629 closed

[2019-11-06 13:59] shrin18 opened #637 "Extending the functionality of CEGIS"
Following the [paper](https://arxiv.org/pdf/1711.04422.pdf) words: “accepting the first RHS solutions that passes the check”. You use and implementation of CEGIS (the space explorer) (AliveDriver.cpp). So, there should be a way to able to find the place where you stop the exploration and then change it to continue the report of solutions with increasing cost. Currently the code in our pipeline giv

[2019-11-06 21:25] jianguda opened #638 "[HELP] fail to reproduce samples in paper"
Hey, we are trying to reproduce samples demostrated in [the souper paper](https://arxiv.org/abs/1711.04422). Here, [f2.c](https://github.com/KTH/slumps/blob/master/utils/pipeline/python/tests/_paper/f2.c) and [f3.c](https://github.com/KTH/slumps/blob/master/utils/pipeline/python/tests/_paper/f3.c) are corresponding code shown in figure2 and figure3 in the paper.

We use ```clang -S -emit-llvm ${na

[2019-11-15 17:41] pranavk commented on #632
Fixed by 85b222e32d2b63bbb26c0222f8d503e6862142bd

[2019-11-15 17:41] #632 closed

[2019-11-16 22:10] jianguda commented on #638
maybe it is because of the version difference of LLVM

[2019-11-16 22:17] regehr commented on #638
hi! you'll need some extra command line flags to souper, most likely, I'll look into this soon.

[2019-11-17 04:49] regehr commented on #638
hi, all 4 links above to f2.c, f2.c and their corresponding IR files are dead, please fix

[2019-11-17 07:52] jianguda commented on #638
hi, I have fixed the links.

[2019-11-17 20:20] regehr commented on #638
if you just want the souper IR you can invoke souper without the solver:
```souper f2.bc```

[2019-11-17 20:20] regehr commented on #638
to make synthesis run, you need some extra command line options
[code]

[2019-11-17 20:24] regehr commented on #638
also, please upgrade to latest souper, it is research software and we're always making changes

[2019-11-17 20:25] regehr commented on #638
for the f3 you'll need to add a command line option to enable blockpcs
[code]

[2019-11-18 17:21] jianguda commented on #638
Great, thanks!

[2019-11-18 17:21] #638 closed

[2019-11-20 14:10] jianguda opened #672 "[bug] no `opt` executable in the `build` folder"
Hey, we built latest souper yesterday, however, we can not found the `opt` executable in the `build` folder. We guess this should be one bug, please check this.

[2019-11-20 15:46] regehr commented on #672
hi, opt is part of LLVM,not part of souper. you should find the opt executable here:
souper/third_party/llvm/Release-build/bin/opt
(or maybe Debug-build)

[2019-11-20 15:46] #672 closed

[2019-11-20 16:13] jianguda commented on #672
thanks!

[2019-11-23 00:08] #637 closed

[2020-01-16 04:47] regehr opened #688 "shared library fun"
Hi @LebedevRI I'm working on a branch here that factors some code out of souper2llvm so it can be reused in a different context:

  https://github.com/regehr/souper/tree/cost-model

To get the codegen shared library to work properly on OS X, I had to link it against the LLVM static libraries. I don't think there's any problem with that.

However, every program which loads both the souper opt pass

[2020-01-16 16:51] #688 closed

[2020-01-16 17:01] LebedevRI commented on #688
Only saw mention now.

I don't really have any insights to OSX,
but those errors do look like something i'd expect from multiple definitions.

I'm guessing no such issues were previously seen with just the souper opt pass?
Is there a version mismatch between the opt that plugin is being loaded into,
and the LLVM with which that plugin was built against?

[2020-01-24 14:31] Jacarte opened #693 "cache does not include souper calling args in the key"
Hi all

I ran souper twice over the same LHS with two different arg sets:
- <empty> (No results)
- souper-infer-iN (Some successful replacements)

However, doing the same experiment using an external cache: souper returns the first result for both configurations. Looking into the code, I think the issue is [here](https://github.com/google/souper/blob/16c5432b7f2d9f770cea9ad648dbea78e81cf8e5/lib/Ex

[2020-01-28 20:16] tfeng opened #697 "LLVM unable to find Z3"
While building with `build_docker.sh`, I observed the following error:
[code]

On checking `build_deps.sh` and contents in the container, I found Z3 was built and installed into `/usr/src/souper/third_party/z3-install`. Its include and lib directories were properly set in LLVM's cmake command. However, libz3.so was not found because it was not in LD_LIBRARY_PATH.

Adding the following line in `bui

[2020-03-23 17:23] malocharo opened #733 "Unable to query z3 solver : exec format error"
Hi, I got an `Exec format error` when trying to invoke souper to extract SMT queries from a bitcode file.

`~/Documents/souper_build/souper -z3-path=~/Documents/souper/third_party/z3-install/bin/z3 test.bc`
`; Listing valid replacements.`
`; Using solver: Z3 + internal cache`
`Unable to query solver: Exec format error`

Exec format error often come from architecture differences:

`file souper`
`so

[2020-03-23 19:39] regehr commented on #733
What's the output of
[code]

[2020-03-23 20:03] malocharo commented on #733
`~/Documents/souper/third_party/z3-install/bin/z3 -version`
`Z3 version 4.8.8 - 64 bit`

[2020-03-23 20:04] regehr commented on #733
ok, put the full path in the SOUPER_SOLVER environment variable, instead of putting a shell expansion in there

[2020-03-24 08:36] malocharo commented on #733
`~/Documents/souper_build/souper -z3-path=/home/foo/Documents/souper/third_party/z3-install/bin/z3 test.bc'
'; Listing valid replacements.'
'; Using solver: Z3 + internal cache`

ok seems to be better, I got no exec format error anymore

[2020-03-24 14:18] #733 closed

[2020-03-28 11:27] fvrmatteo opened #738 "QSynth evaluation"
Hi, I was testing (together with @pgarba) the instruction synthesis of some obfuscated expressions obtained from the [QSynth repository](https://github.com/werew/qsynth-artifacts). As an example [this expression](https://github.com/werew/qsynth-artifacts/blob/master/datasets/custom_EA/obfuscated.c#L2060) has been converted to the Souper IR and **souper-check** has been used to synthesise it both w

[2020-03-28 16:10] regehr commented on #738
Hello,
It's great that you're looking at QSynth in Souper!
The full-width equivalence proof here is going to be challenging and I don't think we have any great ideas about how to speed it up.
Some not-so-great ideas include:
- try a bunch of other solvers
- identify the bottleneck and then tweak the Z3 tactics pipeline
Sorry, wish I had a better answer, but we're mainly compiler people who use sol

[2020-03-30 14:58] fvrmatteo commented on #738
Thanks for the answer!

I tried to specify other solvers while doing the synthesis with Souper (e.g. **stp**) but it looks like they are rejected and make the synthesis fail with the `; Failed to infer RHS` message. Is this expected behaviour?

As of now the reduced-width equivalence is enough for some testing, but the soundness isn't the same. Considering SMT-Solvers are pretty much black magic t

[2020-03-31 10:35] manasij7479 opened #741 "Duplicate result"
Input:
%0:i32 = var
%1 = add %0, 1
%2 = and %1, 5
%3 = or %2, 42
%4 = add %3, 0
infer %4

Invocation:
souper-check -infer-rhs -souper-enumerative-synthesis -z3-path=/usr/bin/z3 -souper-enumerative-synthesis-num-instructions=1  -souper-check-all-guesses

(Result 1 and 3 are identical.)
Results:
; RHS inferred successfully
; result 1:
%0:i32 = var
%1:i32 = add 1:i32, %0
%2:i32 = and 5:i32, %1
%3:i32

[2020-03-31 14:38] regehr commented on #741
hmm, weird. do you have time to look at this @zhengyangl ?

[2020-03-31 14:45] zhengyangl commented on #741
yep.

[2020-03-31 15:20] zhengyangl commented on #741
Well, the guess for `result 1` is generated from NOP synthesis, the `or` comes from %3 in LHS. And the guess for `result 3` is generated from ordinary enumeration, the `or` comes from synthesis. Are we going to fix this? @regehr

[2020-03-31 15:21] manasij7479 commented on #741
The fix (do not synthesize existing components) seems like it will take quite a bit of engineering effort.

[2020-03-31 15:35] zhengyangl commented on #741
Change the type of RHSs from `vector` to `unordered_set` seems solve the issue.

[2020-03-31 15:38] manasij7479 commented on #741
That does not stop the redundant enumeration, I think.

[2020-03-31 15:39] zhengyangl commented on #741
does this look good  https://github.com/google/souper/pull/742/files ? After this patch the dup is gone.

[2020-03-31 15:46] zhengyangl commented on #741
@manasij7479 Each insts constructed relies on the foldingsetnode for internal caching, the guesses with the same DAG has with same pointers. But I am a little worried of the quality of implementation (see this line and below https://github.com/google/souper/blob/813f2879c3cbfd1f1c591e1f2f25f2f3e021e453/lib/Inst/Inst.cpp#L576). The code raised several bug previously.

[2020-03-31 15:48] regehr commented on #741
interesting. thanks for reporting / looking into this one. I'm not yet sure about this fix-- we should test thoroughly.

[2020-03-31 15:48] regehr commented on #741
hey but I have a different question: when we reuse components from the LHS on the RHS, are we reusing constants also? if so, maybe we should just stop doing that since we can synthesize any constant.

[2020-03-31 15:52] zhengyangl commented on #741
@regehr yes, and yes, its a good idea.

[2020-03-31 16:18] zhengyangl commented on #741
Ignore my last patch. The redundant should only happens between synthesized guesses and NOP guesses, right? We can just discard synthesized guess if the guess is a NOP.

[2020-03-31 16:44] regehr commented on #741
ok-- not reusing constants should be a one-liner, want to roll that into your pull req?

[2020-03-31 16:47] zhengyangl commented on #741
@regehr ,these are different and I will do it in another PR.

[2020-03-31 16:48] regehr commented on #741
thanks!

[2020-04-01 19:24] zhengyangl commented on #741
Oops, I misunderstood. It is *NOT* reusing constants.

[2020-04-16 11:43] manasij7479 commented on #741
Can we close this or is there something more to be done here?

[2020-04-16 15:15] #741 closed

[2020-06-12 22:17] regehr opened #776 "alive2 backend needs to understand dataflow facts"
this is for @manasij7479. alive2 cannot double check this result because it has not been taught to understand demanded bits. all dataflow facts supported by Souper are trivial to encode.

[code]

[2020-06-12 22:21] regehr opened #777 "alive2 backend needs to understand phi"
this is for @manasij7479 and @zhengyangl

alive2 does not understand phi nodes, so it cannot be used to double-check a synthesis result such as this one

[code]

[2020-06-26 20:01] regehr opened #779 "PHI nodes not grouped at top of basic block!"
[code]
compiled like this:
[code]

ends up with:
[code]

[2020-07-01 18:18] regehr opened #781 "Assertion failed: (BlockCache.empty()), function synthesize, file ../lib/Infer/ConstantSynthesis.cpp, line 412."
this program
[code]
compiled like this:
[code]
gives:
[code]

[2020-07-21 00:03] fitzgen opened #782 "EBNF-style grammar for Souper's text format?"
Hello! I am writing a parser and stringifier for Souper's text format, and it would have been super helpful to me if there was a grammar when I started, so I've been sketching a hopefully-mostly-correct grammar as I go. I think it is fairly complete at this point. I was hoping to share it with y'all to see if there are any obvious bugs in the grammar, and ask whether you're interested in merging t

[2020-07-21 00:46] dvcrn opened #783 "Building on macOS 10.15: ld: symbol(s) not found for architecture x86_64"
Trying to build souper on catalina and getting this error on the `cmake -DCMAKE_BUILD_TYPE=$buildtype /path/to/souper` step:

[code]

deps installed without any issues.

Any idea?

[2020-07-21 08:48] dvcrn commented on #783
Okay I tried debugging this a little (I don't know C++). Given that it complains about `DebugLevel` and that `DebugLevel` got added in https://github.com/google/souper/commit/b85db77b4b69ac522957c98726ff791fbf3910d8, I tried the commit before that and it builds fine

[2020-07-21 17:24] regehr commented on #782
looks good at a quick scan! yes, we'd be happy to have a text version of this in the repo, but I'd prefer if it was one that could be reasonably checked against the souper parser, for example by some differential testing (that I'd be likely to find a bit of time to work on)

[2020-07-21 17:40] fitzgen commented on #782
To clarify: you mean differential testing the hand written parser vs. running yacc (or similar) on the grammar?

[2020-07-21 18:16] regehr commented on #782
ideally, running a yacc-equivalent tool on the grammar and then doing some testing to see if it accepts the same set of strings as the souper parser does

though now that I think about it this might not be easy since the souper parser also does typechecking etc.

[2020-07-21 18:45] fitzgen commented on #782
Yeah but we should at least be able to do it unidirectionally:

* If the hand-written parser accepts a string, then the mechanically generated parser should accept it too

* If the mechanically-generated parser rejects a string, then the hand-written parser should reject it too.

[2020-07-21 22:33] regehr commented on #783
we'll need a bit more info here... is this a Debug or Release build? what exactly is the toolchain you're using to build? anything else you can tell us?

[2020-07-21 22:56] dvcrn commented on #783
Ah sorry. This was a Release build. Toolchain is clang/llvm

[code]

However I tried building it with `gcc` and `gcc-10`, and also tried using the clang build that souper itself built inside `third_party`.

Tried using Ninja instead of make as well

[2020-07-21 23:09] regehr commented on #783
I'll do a from-scratch build of souper on my mac tonight and see what happens

I'll note that my machine is using a bit newer clang
[code]
I think this is from an xcode update the other day. so I won't reproduce your setup exactly, but pretty close

[2020-07-22 03:11] regehr commented on #783
ok, I can build souper just fine on OSX and Linux.
there's one failing test on OSX since lit strips environment variables and we can't compile stuff without SDKROOT on OSX, but that's expected and normal until I figure out how to fix that.

not sure how you want to proceed here, but everything works as expected for me.

[2020-07-22 03:17] dvcrn commented on #783
Hrrmm... I tried to build the latest master again but switched `xcode-select` to `/Library/Developer/CommandLineTools/` to replicate your environment

[code]

It's still not building and failing at the same step I posted above, while the commit before https://github.com/google/souper/commit/b85db77b4b69ac522957c98726ff791fbf3910d8 works fine.

Is there anything I can try from my side, or informati

[2020-07-22 03:32] regehr commented on #783
I can't think of a good next thing to try.
you're definitely sure you're on the most recent commit?

[2020-07-22 03:39] dvcrn commented on #783
Absolutely sure. I experimented with SDKROOT as well and tried using a fresh clang compiled from source but no luck. Like I wrote, this also happens with a clean gcc-10 installation from homebrew so it's likely something with my environment that's acting up...

I'll see if I can find some time to experiment with build settings.

For using souper, I at least have something functional with the commi

[2020-07-22 03:49] regehr commented on #783
ok, thanks for being patient. not sure what's going on here.

I doubt it matters here, but I'm getting cmake and friends from homebrew.

[2020-07-25 02:08] fitzgen commented on #782
FWIW, my library lives at https://github.com/fitzgen/souper-ir and can now deterministically round-trip every `.opt` file in `souper/test/**` and has stood up to some basic fuzzing (just checking for no panics and that if we can parse, then we can stringify, re-parse that, and re-stringify to the same string again; doesn't do differential fuzzing against Souper's hand written parser like we talked

[2020-07-25 02:08] fitzgen commented on #782
Also, my parser is hand-written as well. Not mechanically generated from the grammar..

[2020-07-30 09:34] dvcrn commented on #783
Just wanted to update: I have installed the latest Xcode update that you mentioned but sadly no luck.

[2020-09-30 13:58] Jacarte opened #792 "Parallel inferring"
Hi all

I would like to ask if it's possible to have parallel inferring. Right now the candidates inferring is done in a serial process. However, I think it can go faster if more than one candidate is treated at once. Specifically at this [place](https://github.com/google/souper/blob/412bff077cf63d7e0aa2e47769b2a1b7fcbe9c4d/lib/Pass/Pass.cpp#L272), but,  maybe I am missing something.

Thanks in ad

[2020-10-01 02:39] regehr commented on #792
I think you'd want to be pretty careful with the parallelism strategy here since when Souper is used as an LLVM plugin you don't want to modify the IR concurrently.

we've not pursued anything like this since there are generally easier forms of parallelism available. when compiling, there's often a lot of parallelism at the level of the build system, for example. we also like to harvest LHSs into

[2020-10-05 20:04] Jacarte commented on #792
Thank @regehr  for the quick and always useful answer.

I agree about having a red light doing parallel IR modifications.  I was thinking more about the enumerative synthesis and solver querying part as you mentioned. To create the proof of concept of [CROW](), we modified Souper [here](https://github.com/KTH/souper/blob/c5a564aeb048c625f9485b8a880f62170acf3745/lib/Pass/Pass.cpp#L293) creating a f

[2020-10-15 23:05] fitzgen commented on #782
The grammar I originally wrote here allows lines like this:

[code]

specifically because it has the production

[code]

but it seems that souper doesn't actually allow lines where you assign a constant value to a variable.

Would this be difficult to support?

[2020-10-15 23:21] regehr commented on #782
I don't think so, but here we're sort of just following LLVM which also disallows this. Is it hard for you to push these constants into the uses, so we don't have to define values of constant type?

[2020-10-15 23:33] fitzgen commented on #782
Not too hard, I think I actually have it working already. Will need to publish a breaking change of the `souper-ir` crate too, but that's no biggie since AFAIK I'm the only user :-p

[2020-10-16 18:34] fitzgen commented on #782
I've got everything parsing okay now -- how can I verify whether souper is successfully populating redis?

This is the first time I've ever used redis, but I would expect that the `keys` column printed below would be non-zero after populating it with LHSes:

[code]

[2020-10-16 18:45] regehr commented on #782
your command is close to correct-- please remove `--parse-lhs-only` which tells souper-check to skip the parts of souper that do something

[2020-10-16 18:48] regehr commented on #782
if you want to populate the cache but not do synthesis I think `--souper-no-infer` does what you want

[2020-10-16 18:49] fitzgen commented on #782
Does this not support parsing multiple LHSes from one file?

[code]

[2020-10-16 18:51] regehr commented on #782
I'm pretty sure it's supposed to, please drop your file (or at least the first two LHSs in it) here and I'll look at it later

[2020-10-16 18:54] fitzgen commented on #782
Thanks for your help!

First few LHSes are:

[code]

Full files:

* [markdown-lhs-candidates.souper.gz](https://github.com/google/souper/files/5393753/markdown-lhs-candidates.souper.gz)
* [clang-lhs-candidates.souper.gz](https://github.com/google/souper/files/5393752/clang-lhs-candidates.souper.gz)

[2020-10-16 18:57] regehr commented on #782
I'm guessing you're missing an option that makes souper expect (only) LHSs, but I don't know what it is right now

sorry our command lines are such a mess, use cases for these tools has drifted over time ugh

[2020-11-03 23:38] fvrmatteo opened #800 "Switch-case synthesis"
Hi, I noticed that Souper has support for some examples based on **phi** nodes and I was wondering if it is able to synthesize the following small switch-case example:

[code]

Alive2 seems to be able to verify the equivalence between the function and a possible synthesized version: https://alive2.llvm.org/ce/z/qoQkhD.

I tried (without success) with the following command line: `souper --souper-ex

[2020-11-04 15:39] fvrmatteo commented on #800
I used an ugly trick to convert the `switch` into a cascade of `icmp` + `select` instructions and now Souper is able to synthesize the provided example (I also successfully tested the same example with the full `i8` condition range 0-255):

[code]

This is theoretically doable for any `switch`, but it creates a dependency chain on the instructions that wasn't original there. The result is the foll

[2020-11-09 08:57] victorstewart opened #801 "does Souper play nice with X-ray?"
i wonder if you all have seen the llvm project x-ray? it works by inserting some nops (that get atomically replaced at runtime) at the head and tail of functions to enable tracing.

will souper eat these nops? lol

 ![image](https://user-images.githubusercontent.com/17534897/98519962-5ea95c00-2269-11eb-91f4-0778019ff1b1.jpeg)

![image](https://user-images.githubusercontent.com/17534897/98519986-65

[2020-11-09 15:01] regehr commented on #801
hi Victor, are these nops present at the IR level? if so, what do they look like? souper may well try to eat them, but it should not be hard to hack it to leave them alone.

[2020-11-09 15:27] victorstewart commented on #801
@deanberris is the man to ask! but i can investigate.

[2020-11-09 22:49] deanberris commented on #801
Yes they're only ever attributes to functions, so they don't look like instructions in IR. These attributes are interpreted when lowering to machine code so if souper looks at the generated machine code then this would be a problem.

[2020-11-09 22:56] regehr commented on #801
souper works purely on IR and it leaves attributes alone, so I think we're all good here!

[2020-11-09 23:00] #801 closed

[2020-11-10 09:22] pgarba commented on #561
Hi,

Ran into the same issue. Would be nice to have a fix for that or at least a switch where you can force the generation of a new instruction if the dominance check fails.

Thanks

[2020-11-10 15:23] regehr commented on #561
Yeah, I can see putting this behind a switch. It doesn't want to be on by default since when we do this, the old instruction isn't going to get deleted, so we'll often end up increasing code size. I can't work on this for another few weeks, but after that I should have time. Thanks.

[2020-11-12 21:27] manasij7479 commented on #777
Implemented

[2020-11-12 21:28] manasij7479 commented on #776
Mostly fixed.
Single remaining failing example: Dataflow/demanded-bits8.opt
Seems like this test case uses three different dataflow facts!

[2020-12-03 22:53] fitzgen opened #808 "Bogus redefinition in synthesized RHS?"
I'm seeing synthesized RHSes that redefine variables from the LHS like this:

[code]

Is that redefinition of `%3` valid? It doesn't look like it should be.

+cc @jubitaneja

[2020-12-03 22:56] regehr commented on #808
aie!!! looks wrong. please tell us how to repro.

[2020-12-03 22:59] fitzgen commented on #808
I'll leave steps to repro to @jubitaneja since this was in a set of results that she synthesized, and I'm not 100% sure exactly what flags she used.

[2020-12-03 23:06] jubitaneja commented on #808
I modified the enumerative synthesis and cache_infer script to run the synthesis experiment. Here is the branch that has the changes on the souper's side.
https://github.com/jubitaneja/souper/tree/cranelift

I took LHSes harvested from Nick's souper-harvester that is integrated in wasmtime/cranelift and just inferred the RHSes using modified cache_infer script.

[2020-12-03 23:08] fitzgen commented on #808
Looking through the results, it looks like this only happens when the LHS doesn't start at `%0`.

[2020-12-04 02:51] jubitaneja commented on #808
@fitzgen you pointed out the right pattern. I tested this test case individually as well with master branch of souper and the issue can be reproduced.
[code]
I think there is some logic in writing RHSes with Lvalue numbering that counts the number of instructions on LHS and starts the count from there and hence, we are seeing the first instruction on RHS with lvalue label number as `%2`.

[2020-12-04 03:15] regehr commented on #808
ok, I'll explain how this works (hopefully correctly -- it's been a couple of years since I messed with this part of souper)

internally, these instruction numbers don't exist, they're purely an artifact of printing

when you print souper to text, there's a context object that keeps track of names. if you want the names to be consistent across a LHS and RHS, you have to use the same context object

[2020-12-04 03:49] manasij7479 commented on #808
We should probably change souper-check so that the whole replacement is printed after enumerative synthesis, not just the RHS.

[2020-12-04 03:56] regehr commented on #808
pretty sure there's a command line argument for doing exactly that

[2020-12-08 00:33] jubitaneja commented on #808
@zhengyang92  pointed out the option to print the entire replacement after the synthesis is done instead of writing the RHSes only. I tested with `-print-replacement-split` and it worked fine for this test case. So, for the testing we can add this option to cache_infer script.
[code]

[2021-02-04 02:00] patrakov opened #810 "Dead links in the RESULTS file"
The following links are in the RESULTS file, but lead to a 404 page:

http://llvm.org/viewvc/llvm-project?view=revision&revision=208809
http://llvm.org/viewvc/llvm-project?view=revision&revision=208750

The third link can be upgraded to https:

http://llvm.org/bugs/show_bug.cgi?id=19711

[2021-04-07 18:04] manasij7479 opened #812 "Souper crash in codegen from valid transformation"
Given the following transformation (derived from spec17) in the redis cache:

[code]
And the following reduced source file:
[code]
Souper crashes with `fatal error: error in backend: Unhandled Souper instruction phi in Codegen::getValue()`
Invocation:
`souper/third_party/llvm-Release-install/bin/clang++  -c  -O2 -Xclang -load -Xclang souper/build/libsouperPass.so -mllvm -souper-external-cache -mll

[2021-04-07 18:10] regehr commented on #812
%11 looks like it was supposed to be %4, so we need to understand how that happened. if %11 was %4 then we'd not have a new phi and we'd not get the crash. that looks like the bug to me.

[2021-04-07 18:16] manasij7479 commented on #812
The 'block' should be same too.
Somewhere we are not reusing the block from LHS during synthesis.

This is how to synthesize this with souper-check without involving sclang
`./souper-check -reinfer-rhs  -souper-enumerative-synthesis-max-instructions=1 -souper-dataflow-pruning -souper-double-check /tmp/phi.opt
`
Where phi.opt contains the transformation in the issue.
I'll investigate what''s causin

[2021-04-07 18:26] regehr commented on #812
run under valgrind and such -- there could be an uninitialized bug that is causing things to get garbled.

yes, the key question is why that block wasn't getting reused -- if that happened, it wouldn't look like we synthesized a phi on the RHS, which of course we did not.

[2021-05-15 17:55] ychen306 opened #821 "Assertion failed: (EB.get(&I)->hasOrigin(&I)), function ExtractExprCandidates, file .../lib/Extractor/Candidates.cpp, line 1025"
Failed with this input

[code]

I ran with this command
[code]

The commit hash of souper is `16f145e1826f76090ace941fde7abf352ba36aa1`

[2021-05-15 20:43] ychen306 commented on #821
Seems like in https://github.com/google/souper/blob/main/lib/Extractor/Candidates.cpp#L1025,
the assertion should be

[2021-05-16 23:47] regehr commented on #821
thanks for the bug report! I'll look at it Monday

[2021-05-19 18:52] #821 closed

[2021-05-19 19:23] ychen306 commented on #821
I ran souper at various places in the optimization pipeline instead of just at the end. My guess is that LLVM's typical optimization gets rid of this kind of patterns.

[2021-05-19 20:46] Vsevolod-Livinskij opened #824 "ICE: Assertion `false && "Phi with muliple arguments unimplemented"' failed"
Souper crashes with
[code]

Reproducer:
[code]

Invocation:
[code]

Sclang version (super commit 558e50d3446fcff6b9e647415c2589c21db009d1):
[code]

[2021-05-19 21:35] regehr commented on #821
I'm somewhat satisfied with this explanation, but souper doesn't just run at the end. when you load it as an opt pass, it gets run 5 times, throughout the optimization pipeline. but it always runs after the same passes, so that could have hidden this issue!

[2021-05-19 22:57] ychen306 commented on #821
In my custom pipeline, I make sure souper is run before instcombine. Maybe that uncovered the issue.

[2021-05-20 18:31] manasij7479 commented on #824
Souper IR reproducer:

[code]
Invocation:
`./souper-check  -souper-use-alive filename.opt`

[2021-05-26 14:45] #824 closed

[2021-06-06 18:47] regehr commented on #812
@manasij7479 reminder to fix this

[2021-06-06 18:49] regehr opened #842 "Instruction does not dominate all uses!"
this input triggers a souper bug:

[code]

[code]

[2021-06-08 05:59] regehr commented on #800
hi! sorry none of us responded earlier. hopefully this issue is now fixed via #843

[2021-06-09 15:00] fvrmatteo commented on #800
No hurry, glad to see Souper is still alive, I keep using it for many sub-tasks!

I tested it today and I can confirm the patch solves the issue if the enumerative synthesis is used, even though it's mandatory to specify `--souper-enumerative-synthesis-ignore-cost`, which is suboptimal, but it's my understanding the `phi` cost will need to be reworked somehow.

Is there any plan to support the sam

[2021-06-09 19:27] regehr commented on #800
hi Matteo, just a quick heads up that I just changed `-souper-infer-inst` to `-souper-use-cegis` since the old option was pretty confusing.

I'd be interested to hear more about your experience comparing these two algotihms. my experience is that CEGIS indeed performs better on hand-written tests, but that the enunerator greatly wins in real applications where the left-hand-sides being optimized a

[2021-06-10 09:13] pgarba opened #847 "Not deterministic SMT query string"
Hi,

I noticed that some of the generated SMT queries have a different form when they are generated between several runs on the same LLVM IR. This leads to a cache miss and slows down the processing of the IR.

Do you know the reason for that ? Is it because of the PHIs ?!

Here is an example of the SMT queries for the same input LLVM IR:

[code]

[2021-06-10 10:55] fvrmatteo commented on #800
Thanks John for the heads up!

I have some sliced IR files with quite big LHSs that are synthesized properly by CEGIS (given a possible set of feasible components as input) and I've never managed to get them to work with the enumerator. The root node is synthesized to approximately 5/6 instructions.

This evening I can collect them, retest them with the newest changes (even reducing the set of com

[2021-06-10 14:10] regehr commented on #847
please share a souper command + input that makes this happen

[2021-06-11 03:32] regehr commented on #800
Hi Matteo, I'd love to look at these if you don't mind sharing. We won't share them outside of my group. If you want, email me at regehr@cs.utah.edu. Thanks!

[2021-11-28 11:27] adamhaber opened #850 "Build failure"
Hi,

I'm trying to build Souper and ran into the following error:
[code]
Some additional information that might be helpful:
[code]
Any help on how to debug this would be much appreciated!

[2021-11-28 12:21] adamhaber commented on #850
Here's CMakeCache, if it might be of use:
[code]

[2022-01-04 03:50] sanqudui8ban opened #851 "use error"
Unknown command line argument '-z3-path=/home/op/souper-main/third_party/z3-install/bin/z3'

[2022-01-04 03:58] sanqudui8ban commented on #851
i use the opt that i compiled order by the README.  When i run this cmd : opt -load libsouperPass.so -souper \
                -o /home/op/file.opt.bc \
               /home/op/Desktop/1.bc -z3-path=/home/op/souper-main/third_party/z3-install/bin/z3
it said Unknown command line argument '-z3-path'

[2022-04-05 00:28] manasij7479 opened #853 "LLVM Test Suite test failure with NO_INFER"
The following test -- `test-suite :: MultiSource/Applications/lua/lua.test ` in the LLVM test suite fails with SOUPER_NO_INFER, which should not change the code at all.

Make sure the redis cache is empty when trying to reproduce this.

[2022-04-14 03:03] StratusFearMe21 opened #854 "Build failure"
I can't seem to build souper on my Linux machine. I'm not sure whether this is an LLVM problem or a cmake problem. I am but a humble Rust developer
[code]

[2022-04-14 03:07] StratusFearMe21 commented on #854
Some more info about my system
[code]

[2022-04-14 04:33] regehr commented on #854
thanks for this report. I might not be able to look into it right away but we're definitely due for some souper love and care. it's a little disturbing that the first error is in an LLVM header, if there's nothing else wrong there might not be anything to try other than you use an older GCC or we bump souper to latest LLVM. bumping souper is in the plan but it's definitely not happening before the

[2022-09-27 13:04] unknown-re opened #856 "futur m1 support ?"
it seems not working on m1, because of the KLEE deps.

[2022-09-28 15:56] #856 closed

[2022-09-30 10:18] unknown-re commented on #856
fixed (Thanks to Matteo).